In [232]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:140px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

In [ ]:
<b><font size="7" color="red">ch05.함수</font></b>
- 함수 정의
- [반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것]
- [특정 동작을 수행하는 코드 묶음]
- 오버로딩 불가(같은 이름의 함수는 덮어씀)

```
def 키워드로 정의하고 함수 이름, 괄호, 콜론을 사용합니다. 

def 함수명([매개변수1, 매개변수2, ...]):
    명령어1
    명령어2

함수는 코드의 재사용성과 가독성을 높여주고, 
복잡한 문제를 작은 단위로 나누어 해결할 수 있도록 돕습니다. 
함수는 정의 시 괄호 안에 매개변수를 지정하여 다양한 값을 받아 처리할 수 있으며, 
함수를 호출할 때 괄호 안에 실제 값을 전달하여 실행합니다.
입력받은 4개의 벡터(리스트, 셋, 딕셔너리, 튜플)의 크기

람다(lambda)는 이름이 없는 간단한 익명 함수이며, 
리스트 컴프리헨션(list comprehension)은 파이썬에서 리스트, 집합, 딕셔너리 등에서 새 자료구조를 생성하는 간결한 문법입니다. 
람다는 주로 `map()`이나 `filter()`와 함께 쓰이며, 
리스트 컴프리헨션은 `map()`과 `filter()`를 대체하는 경우가 많아 코드의 가독성과 효율성을 높이는 데 사용됩니다
```

# 1절. 함수의 정의 및 사용
## 1.1. 함수 정의

In [1]:
# 함수 정의
def my_message(x, msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(i, msg)

In [3]:
# 함수 호출 == 함수 사용
my_message(3, 'Hello')

0 Hello
1 Hello
2 Hello

In [4]:
# 함수 이름 변경
my_msg = my_message
my_message(2, 'Hello')
my_msg(3, 'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [5]:
type(my_msg), type(my_message)

(function, function)

In [2]:
# 파이썬 내장 함수(import 하지 않고 사용할 수 있는 함수)
# 내장 함수명은 일종의 키워드로 간주되므로 식별자로 사용하는 것은 피해야 한다.
# 심볼 테이블로 함수를 불러오는 명령어가 import이다.

# 람다(lambda)는 이름이 없는 간단한 익명 함수이며, 
# 리스트 컴프리헨션(list comprehension)은 파이썬에서 리스트, 집합, 딕셔너리 등에서 
# 새 자료구조를 생성하는 간결한 문법입니다. 

# 람다는 주로 `map()`이나 `filter()`와 함께 쓰이며, 
# 리스트 컴프리헨션은 `map()`과 `filter()`를 대체하는 경우가 많아 
# 코드의 가독성과 효율성을 높이는 데 사용됩니다.

In [ ]:
print("Hello")

In [6]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [10]:
my_message = 5
my_msg(2, "Hello")

0 Hello
1 Hello

In [ ]:
# my_message(2, 'Hello') 이제 실행하면 에러남

In [4]:
del messgage # 변수 및 함수 제거하여도
my_message(2, 'Hello')

NameError: name 'messgage' is not defined

In [3]:
# 함수 중복 정의 불가 (오버로딩 불가)
def my_hello():
    print('Hello Python')
    print('Hello World')
def my_hello(cnt):    # cnt번 출력
    for i in range(cnt)
        print('Hello, Python', end='\t')
        print('Hello, World')

SyntaxError: expected ':' (3981259654.py, line 6)

In [6]:
my_hello(2) # 함수의 중복 정의가 이루어지지 않음.

Hello, Python	Hello, World
Hello, Python	Hello, World

In [11]:
my_hello(3)

Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

In [12]:
from ch05 import my_hello # ch05 모듈 안의 my_hello만 메모리 로드

In [13]:
__name__

'__main__'

In [14]:
import ch05

In [15]:
ch05.my_hello(3)

ch05
Hello, Python!	Hello, World
Hello, Python!	Hello, World
Hello, Python!	Hello, World

## 1.2 docstring

In [19]:
def my_function():
    """
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)
    """

#어떤 함수

In [20]:
print(my_function.__doc__)
    ```
    매겨변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10  : 0, 1, 1, 2, 3, 5, 8
    n=100 : 0, 1, 1, 2, 3, 5, 8 13 21 34 55 89
    ```
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역 변수 (반: 전역변수) fibonacci
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()  # 개행

    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)

In [27]:
def fibonacci(n):
    a, b = 0, 1 
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()  # 개행

In [28]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

## 1.3 지역변수(local var)와 전역변수(global var)
- 지역 심볼 테이블, 전역 심볼 테이블 -
- 함수 내에서 변수에 정수를 할당하면 -

In [31]:
global_var = 100
def func1():
    print('함수안 :', global_var)
func1()
print('함수밖:', global_var)

함수안 : 100
함수밖: 100

In [33]:
def func2():
    local_var = 200  # 지역변수(함수내에서 할당)
    print('함수안 :', local_var)
func2()

함수안 : 200

In [ ]:
# print('함수밖에서 지역변수 :', local_var) # 에러

In [45]:
g_var = 100 # 전역변수
def func3():
    g_var = 200
    print('지역변수 g_var :', g_var)
func3()
print('전역변수 g_var :', g_var)

지역변수 g_var : 200
전역변수 g_var : 100

In [46]:
# 렉시컬 특성 : 변수가 어디서 선언되었는지에 따라
# 변수의 범위가 정해짐(지역 vs. 전역)
g_var = 100 # 전역변수
def func3():
    print('지역변수 g_var :', g_var)
    g_var = 200 # 지역변수 (함수 내에서 할당)
func3()
print('전역변수 g_var :', g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [51]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func3():
    global g_var
    print('지역변수 g_var :', g_var)
    g_var = 200 # 전역변수 g_var에 200할당.
func3()
print('전역변수 g_var :', g_var)

지역변수 g_var : 100
전역변수 g_var : 200

## 1.4 값에 의한 호출
- 함수에 인수에 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일 때

In [52]:
foo = 'a' # 전역변수
id(foo)

1800892737456

In [53]:
def func1(f):    # 매개변수는 지역변수
    print('Before :', f, '의 주소는 ', id(f))
    f = f*3
    print('After :', f, '의 주소는 ', id(f))
func1(foo)


# 파이썬의 id() 함수는 객체를 인자로 받아, 
# 해당 객체의 **고유한 식별값(메모리 주소)**을 반환합니다. 
# 이 값은 객체를 구별하는 데 사용되며, 
# 동일한 객체를 가리키는지를 판별하는 데 활용될 수 있습니다. 
# id()는 객체가 생성될 때 부여되는 일련번호와 같으며, 
# 숫자로서 특별한 의미를 가지는 것은 아닙니다.

Before : a 의 주소는  1800892737456
After : aaa 의 주소는  1801001296560

In [54]:
print('foo = ', foo, '의 주소는', id(foo))

foo =  a 의 주소는 1800892737456

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 경우

In [55]:
L = [1, 2, 3, 4, 5]
id(L)

1800971354880

In [56]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, '의 주소는', id(f))
    f.append(6)
    print('After :', f, '의 주소는', id(f))
func2(L)

Before : [1, 2, 3, 4, 5] 의 주소는 1800971354880
After : [1, 2, 3, 4, 5, 6] 의 주소는 1800971354880

In [57]:
print('L=', L, '의 주소는', id(L))

L= [1, 2, 3, 4, 5, 6] 의 주소는 1800971354880

# 2절 함수의 실행결과를 반환하는 return

In [59]:
def fibonacci_print(n):
    '매개변수로 들어온 n값 alaksdml 피보나치 수열을 출력하는 함수'
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역 변수 (반: 전역변수) fibonacci
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()  # 개행
def fibonacci(n):
    "n미만의 피보나치 수열을 리스트로 return"
    result = [] # 피보나치 수열은 append할 리스트
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역 변수 (반: 전역변수) fibonacci
    while a < n:
        result.append(a)    #  리스트에 append
        a, b = b, a+b
    return result

In [63]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [62]:
x = fibonacci_print(10)
print(x)
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

In [76]:
num = int(input("숫자를 입력하세요:"))
numbers=[]
for i in range(1, num+1):
    numbers.append(i)
    print(numbers, end='\t')

숫자를 입력하세요:10
[1]	[1, 2]	[1, 2, 3]	[1, 2, 3, 4]	[1, 2, 3, 4, 5]	[1, 2, 3, 4, 5, 6]	[1, 2, 3, 4, 5, 6, 7]	[1, 2, 3, 4, 5, 6, 7, 8]	[1, 2, 3, 4, 5, 6, 7, 8, 9]	[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 여러개 값 return ###

In [80]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return(b, a)
print('a', 'b')

a b

x = 5; y = 10
print('함수 실행 전 x, y =', x, y)
x, y = swap(x, y)
print('함수 실행 후 x, y =', x, y)

# 3절 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [87]:
def make_url(ip, port=80):  # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [96]:
print(make_url("localhost", 8090))
print(make_url("www.naver.com"))
print(make_url(port=9090, ip="localhost"))

http://8090:localhost
http://localhost:www.naver.com
http://localhost:9090

In [92]:
def make_url(port=80, ip='localhost'):  # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [93]:
make_url("localhost")

'http://localhost:localhost'

## 3.2 기본변수를 기본값으로 갖는 매개변수
- 기본변수가 스칼라변수(문자, 숫자, 논리형)일 때
- 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [100]:
i = 80
# 기본변수가 스칼라변수일 때 : 함수가 정의되는 시점으로 기본갑 셋팅
def make_url(ip, port=i):
    return "http://{}:{}".format(ip, port)

In [101]:
i =  90
make_url("loclalhost")

'http://loclalhost:80'

In [105]:
list_ = []
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 함수가 실행되는 시점으로 기본값 셋팅
def func3(a, L=list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [123]:
print(func3(10))

[10]

In [121]:
print("list_ =", list_)

list_ = [10, 10, 10, 10, 10, 10, 10, 10, 20]

In [122]:
print(func3(20))

[20]

In [119]:
# 실행할 때마다 L을 공유하는게 싫으면
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print(func3(10))

[10]

## 3.3 순서 인수
- 순서인수 : 함수에 정의된 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시하는 방식
- 함수 정의시 순서인수와 키워드인수가 같이 올 때는 순서인수가 오고 다음에 키워드인수 순으로 옴

In [132]:
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print(L)

[1, 2, 3, 4, 5, 6]

In [134]:
lst = []
print(func3(10, lst))
print(func3(L=lst, a=20)) # 키워드 인수

[10]
[10, 20]

## 3.4 튜플매개변수를 이용한 가변인수 설정

In [150]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음.
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [151]:
add(3, 5, 2)

10

In [163]:
# args 앞에 * : args가 튜플로 전달받는다
def add(*args):
    # print('args=', args)
    # 전달받은 매개변수들의 합을 return.
    # 매개변수가 없을 경우 0을 return
    sum = 0 
    for num in args:
        sum += num
    return sum

In [164]:
add(1,2,3,4,5)

15

In [176]:
print(add())
print(add(1))
print(add(1, 3))
print(add(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

0
1
4
55

In [177]:
subject = ('Python', 'HTML/CSS', 'JavaScript', 'Oracle/MySQL')
'-'.join(subject)

'Python-HTML/CSS-JavaScript-Oracle/MySQL'

In [187]:
# 튜플 매개변수와 일반 매개변수가 같이 있을 때
def contcat(*subject, sep):
    return(sep. join(subject))

In [188]:
# contact('Python', 'web', 'JavaScript', 'DBMS', '_')

In [181]:
# 해결책1
contcat('Python', 'web', 'JavaScript', 'DBMS', sep='_')

'Python_web_JavaScript_DBMS'

In [194]:
# 해결책2 
def concat(*subject, sep = ' ~ '):
    return sep.join(subject)
print(concat('Python','Web','JS','DBMS', '-'))
print(concat('Python','Web','JS','DBMS', sep='-'))

Python ~ Web ~ JS ~ DBMS ~ -
Python-Web-JS-DBMS

In [ ]:
# 해결책3 : 추천, sep을 순서인수로 앞으로
def concat(sep, *subject):
    return sep.join(subjct)

In [195]:
concat('~','Python','Web','DB','MLDL')

'~ ~ Python ~ Web ~ DB ~ MLDL'

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수 : 여러 개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리
- 데이터 시각화에서 2개의 별표시(**), 즉 딕셔너리 매개 변수를 사용할 때 효과적이다.

In [196]:
make_url(ip="localhost", port=8080)

'http://localhost:8080'

In [210]:
def func5(**args): # 별표시(*)가 한 개면 투플 매개변수, 별표시(**)가 한 개면 딕셔너리 매개변수 
    print('이름:', args.get('name'))
    print('나이:', args.get('age'))
    print('전화:', args.get('tel'))
    print('주소:', args.get('address'))

In [230]:
def func5(**args):
    print(args)
    print(type(args))
    if 'address' not in args:
        args['address'] = '서울시 관악구'
        args.update({'address': '서울시 관악구'})
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [231]:
func5(name='홍길동', 
      age=30,
      tel='010-9999-9999',
      address='서울 관악구')

{'name': '홍길동', 'age': 30, 'tel': '010-9999-9999', 'address': '서울 관악구'}
<class 'dict'>
name : 홍길동
age : 30
tel : 010-9999-9999
address : 서울 관악구

In [225]:
func5(name='홍길동')

{'name': '홍길동'}
<class 'dict'>
name : 홍길동
address : 서울시 관악구

In [226]:
def func5(**args):
    print('args')

In [227]:
func5(name='홍길동', 
      age=30,
      tel='010-9999-9999',
      address='서울 관악구',
      width=300,
      color='red')

args

In [228]:
def func(a, b, c):
    return a+b+c

In [229]:
def func5(**args): # 별표시(*)가 한 개면 투플 매개변수, 별표시(**)가 한 개면 딕셔너리 매개변수 
    print('이름:', args.get('name'))
    print('나이:', args.get('age'))
    print('전화:', args.get('tel'))
    print('주소:', args.get('address'))

## 3.6 함수 정의시 매개변수의 순서
순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)

In [234]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a, b, *c, **d):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('튜플인수 c = ', c)
    print('딕셔너리인수 d = ', d)

In [235]:
func6(10, 20, 1,2,3,4,5,6,7,8,9, name='홍', age=30, address='신림')

순서인수 a =  10
순서인수 b =  20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리인수 d =  {'name': '홍', 'age': 30, 'address': '신림'}

In [237]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)
def func7(a, b, c,*d, e=10, **f):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('순서인수 c = ', c)
    print('튜플인수 d = ', d)
    print('키워드인수(기본값 10) e = ', a)
    print('딕셔너리인수 f = ', f)

In [239]:
func7(10, 20, 30, e=100)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드인수(기본값 10) e =  10
딕셔너리인수 f =  {}

In [238]:
func7(10, 20, 30, 1,2,3,4,5, e=100, shape='rect', width=20, height=30)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  (1, 2, 3, 4, 5)
키워드인수(기본값 10) e =  10
딕셔너리인수 f =  {'shape': 'rect', 'width': 20, 'height': 30}

In [ ]:
## 3.7 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [240]:
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [241]:
add(1, 2, 3)

6

In [243]:
numbers = (1, 2, 3)
add(*numbers)

6

In [ ]:
numbers = (1, 2, 3)
add(*numbers)

In [ ]:
### 딕셔너리 인수 언패킹

In [249]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [252]:
func8(shape='rect', width=40, height=30)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [253]:
info = {'shape':'rect', 'width' : 40, 'height':30}
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

# 4절 람다식
- return 한 줄짜리 작은 익명함수
## 4.1 람다식 연습


람다는 '이름 없는 한 줄짜리 함수'를 정의하는 문법이고, 
맵(map)은 '리스트와 같은 반복 가능한 자료형에 특정 함수를 적용하여 새로운 리스트를 생성하는 내장 함수'입니다. 
람다 함수는 맵 함수의 인자로 사용되어, 
반복 가능한 자료형의 각 요소에 적용할 함수를 간편하게 정의하는 방식으로 자주 사용됩니다. 

람다(lambda)는 이름이 없는 간단한 익명 함수이며, 
리스트 컴프리헨션(list comprehension)은 파이썬에서 리스트, 집합, 딕셔너리 등에서 새 자료구조를 생성하는 간결한 문법입니다. 
람다는 주로 `map()`이나 `filter()`와 함께 쓰이며, 
리스트 컴프리헨션은 `map()`과 `filter()`를 대체하는 경우가 많아 코드의 가독성과 효율성을 높이는 데 사용됩니다

In [2]:
def add(a, b):
    return a+b
print(add(3, 5))
print(type(add))

8
<class 'function'>

In [3]:
add2 = lambda a, b : a + b # add를 add2 람다식으로 만듬.
print(add2(3, 5))
print(type(add2))

8
<class 'function'>

In [4]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보세요.
def even_odd_chk(num):
    if num%2:
        result = "홀수"
    else:
        result = "짝수"
    return result
even_odd_chk(5), even_odd_chk(-4)

('홀수', '짝수')

In [6]:
def even_odd_chk(num):
#    if num%2:
#        result = "홀수"
#    else:
#        result = "짝수"
    return "홀수" if num%2 else "짝수"
even_odd_chk = lambda num : "홀수" if num%2 else "짝수" 
even_odd_chk(5), even_odd_chk(-4)

# 3. 함수와 람다식의 동일성
# python# 일반 함수
# def even_odd_chk(num):
#    return "홀수" if num%2 else "짝수"

# 람다식으로 동일한 기능
# even_odd_chk = lambda num : "홀수" if num%2 else "짝수"

('홀수', '짝수')

In [8]:
# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어보세요.
def diff(a, b):
    if a>b:
        result = a-b
    else:
        result = b-a
    return result

diff = lambda a, b : a-b if a>b else b-a
diff(5, 1), diff(1, 5)

(4, 4)

In [12]:
# ex3. 매개변수로 잔액을 받아, 잔액이 양수면 잔액을 return, 음수면 'negative'를 return함
ex3 = lambda balance : balance if balance >= 0 else 'negative'
ex3(1000), ex3(-100)

(1000, 'negative')

In [21]:
# ex4. 점수를 입력받아 80점이상은 'A팀', 60점이상은 'B팀', 60점미만은 '재시험',
# 100점 초과, 0점미만은 '유효하지 않음'을 return
# 방법 1: 일반 함수 (if-elif-else)

def levelChk(num):
    if num > 100 or num < 0:
        return '유효하지 않음'
    elif num >= 80:
        return 'A팀'
    elif num >= 60:
        return 'B팀'
    else:
        return '재시험'

ex4 = lambda num :'A팀' if 80<=num<=100 else \
                    'B팀' if 60<=num<=80 else \
                    '재시험' if 0<=num<=60 else \
                    '유효하지 않음'
levelChk(8), ex4(160)

('재시험', '유효하지 않음')

In [25]:
# 점수를 입력받아 학점을 return
score_grade = lambda score : 'A학점' if 90<=score<=100 else \
                             'B학점' if 80<=score<90 else \
                             'C학점' if 70<=score<80 else \
                             'D학점' if 60<=score<70 else \
                             'F학점' if  0<=score<60 else \
                             '유효하지 않는 점수'
score_grade(60), score_grade(120)

('D학점', '유효하지 않는 점수')

In [36]:
# ex5 safe_index함수를 람다식으로 ** 변수에 함수도 넣음
def safe_index(lst, item, start=0):
    return lst.index(idem, start) if item in lst [start:] else -1
ex5 = lambda lst, item, start=0 : lst.index(item, start) if item in lst [start:] else -1
i = 3
lst = [i, 2, 3,]
safe_index(lst, 4), ex5(lst, 3, 1)

(-1, 2)

In [48]:
# 람다식을 list에 들어가 갈 수 있음
add = lambda a, b : a + b
sub = lambda a, b : a - b
mul = lambda a, b : a * b
div = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눠요'
operations = [add, sub, mul, div] # 사칙연산 함수들

def act_operations(a, b, operations=operations): # a, b의 연산 결과를 return
    result = []
    for op in operations:
        result.append(op(a, b))
    return result
act_operations(20, 5)

[25, 15, 100, 4.0]

In [49]:
act_operations(8, 2, [lambda x, y : x**y, lambda x,y : 10*+y])

[64, 20]

In [50]:
operations.append(lambda x, y : x**y)
len(operations)

5

In [51]:
act_operations(8, 2) # 기본값을 갖는 변수(기본 변수)가 리스트면 기본값은 호출할 시점

[10, 6, 16, 4.0, 64]

## 4.2 함수의 매개변수(인수)에 람다식 사용
- 람다식을 사용하는 곳 : 함수의 매개변수 > return 문
### (1) map 이 함수가 압도적으로 많이 사용됨

In [ ]:
변수명 = 람다식

In [53]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append(item)
    return result

In [54]:
map_template(lambda a:a, [1,2,3])

[1, 2, 3]

In [58]:
list_data = [1,2,3,4,5,6,7,8,9]
def x_2(x):
    return x*2
map_template(x_2, list_data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
list_data = [1,2,3,4,5,6,7,8,9]
# def x_2(x):
#    return x*2
x_2 = lambda x : x*2
map_template(x_2, list_data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
map_template(lambda x:x*2, list_data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
# 리스트 컴퓨리헨션
[ item*2 for item in list_data ]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [62]:
map(lambda x:x*2, list_data)

In [63]:
list(map(lambda x:x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [64]:
for data in map(lambda x:x*2, list_data):
    print(data, end='  ')

2  4  6  8  10  12  14  16  18

In [66]:
# ```
# 예제1. prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']를 [5000,5000,6000,1000]식으로 바꾸시오
# ```
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']

# 쉼표를 제거하고 정수로 변환
cleaned_prices = [int(price.replace(',', '')) for price in prices]

print(cleaned_prices)
# 결과: [5000, 5000, 6000, 1000, 5000, 5000, 6000, 1000]

[5000, 5000, 6000, 1000, 5000, 5000, 6000, 1000]

In [68]:
# 중복 제거 (순서 유지)
unique_prices = list(dict.fromkeys(cleaned_prices))
print(unique_prices)
# 결과: [5000, 6000, 1000]

# 또는 set을 사용 (순서 보장 안됨)
unique_prices_set = list(set(cleaned_prices))
print(sorted(unique_prices_set))
# 결과: [1000, 5000, 6000]

[5000, 6000, 1000]
[1000, 5000, 6000]

In [73]:
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']
def toint(value):
    return int(value.replace(',',''))
prices_int - map(lambda value : int(value.replace(',','')), prices)
for price in prices_int:
    print(price, end=' ')

NameError: name 'prices_int' is not defined

```
예제2. members1 = [{'name':'홍길동', 'birth':'2000-01-01’}, {'name':'신길동', 'birth':'1995-12-18'},]를
members2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1}, {'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환
```

In [78]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'}, 
            {'name':'신길동', 'birth':'1995-12-18'},]

In [83]:
# '2000-01-01' => {'year':2000, 'month':1, 'day':1}
def split_data(date):
    split_date = date.split('-')
    return {
        'year' : int(split_date[0]),
        'month' : int(split_date[1]),
        'day' : int(split_date[2]),
    }
split_data('2025-01-01'), split_data('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [84]:
# '2000-01-01' => {'year':2000, 'month':1, 'day':1}
# 딕셔너리 리스트에서 생년월일 문자열을 연도, 월, 일로 분리하는 방법]
def split_data(date):
    return {
        'year' : int(date.split('-')[0]),
        'month' : int(date.split('-')[1]),
        'day' : int(date.split('-')[2]),
    }
split_data('2025-01-01'), split_data('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [86]:
# {'name':'홍길동', 'birth':'2000-01-01'}=>{'name':'홍길동', 'year':2000, 'month':1, 'day':1}
def split_data(date):
    return {
        'year' : int(date.split('-')[0]),
        'month' : int(date.split('-')[1]),
        'day' : int(date.split('-')[2]),
    }

In [87]:
split_date_lambda = lambda date: {
    'year': int(date.split('-')[0]),
    'month': int(date.split('-')[1]), 
    'day': int(date.split('-')[2])
}

In [90]:
# {'name':'홍길동', 'birth':'2000-01-01'}=>{'name':'홍길동', 'year':2000, 'month':1, 'day':1}
def member_preprocessing(memeber):
    return {
        'name' : memeber.get('name', '이름없음'), 
        'year' : int(memeber.get('birth').split('-')[0]),
        'month' : int(memeber.get('birth').split('-')[1]),
        'day' : int(memeber.get('birth').split('-')[2]),
        }
member_preprocessing({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [96]:
members2 = list(map(lambda memeber : {
                                'name' : memeber.get('name', '이름없음'), 
                                'year' : int(memeber.get('birth').split('-')[0]),
                                'month' : int(memeber.get('birth').split('-')[1]),
                                'day' : int(memeber.get('birth').split('-')[2]),
                                }, members1
                   )
               )
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [ ]:
'''
예제3. members2를 members1로 전환
'''

In [101]:
# {'year':2000, 'month':1, 'day':1} => 2025-0101
def join_date(data):
    return "{}-{:02}-{:02}".format(data.get('year'), data.get('month'), data.get('day'))
join_date({'year':2000, 'month':9, 'day':9})

'2000-09-09'

In [102]:
# {'year':2000, 'month':1, 'day':1} => 2025-0101
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)
join_date({'year':2000, 'month':9, 'day':9})

'2000-09-09'

In [103]:
# {'year':2000, 'month':1, 'day':1} => {'birth':2025-01-01'}
def join_date(data):
    return {"birth" : "{year}-{month:02}-{day:02}".format(**data)}
join_date({'year':2000, 'month':9, 'day':9})

{'birth': '2000-09-09'}

In [105]:
# members2를 members1로 전환
# {'name' : 'hong', 'year':2000, 'month':1, 'day':1} => {'name':'hong',birth':2025-01-01'}
def members_preprocessing(member):
    return {
        'name': member.get('name'),
        'birht': "{year}-{month:02}-{day:02}".format(**member)
    }
members_preprocessing({'name':'hong', 'year':2000, 'month':1, 'day':1})

{'name': 'hong', 'birht': '2000-01-01'}

In [109]:
list(map(lambda member : {
    'name': member.get('name'),
    'birth':"{year}-{month:02}-{day:02}".format(**member)
    }, members2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

## (2) filter

In [123]:
def filter_template(func, L=[]): # 특정한 조건인지 아닌지 살펴보고 함수
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [124]:
list_data = [1,2,3,4,5,6,7,8,9]
def odd_chk(value):
    if value%2:
        return True
    else:
        return False
filter_template()

TypeError: filter_template() missing 1 required positional argument: 'func'

In [125]:
# 람다식
list_data = [1,2,3,4,5,6,7,8,9]
def odd_chk(value):
    return value%2
filter_template(lambda value : value%2!=0, list_data)

[1, 3, 5, 7, 9]

In [126]:
# 리스트 컴플리핸션
[value for value in list_data if value%2]

[1, 3, 5, 7, 9]

In [131]:
# 리스트 함수
list(filter(lambda value : value%2, list_data))

[1, 3, 5, 7, 9]

In [137]:
# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter/리스트 컴프리헨션)
L = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]
list(filter(lambda x : x%1==0), L)

TypeError: filter expected 2 arguments, got 1

In [135]:
[item for item in L if item%1==0]

[1, 3.0, 100, -2.0]

## (3) sort

In [143]:
p = [10, 3, 6, 1]
p.sort(reverse = True)
p

[10, 6, 3, 1]

In [139]:
# 무조건 0번째 item을 기준으로 오름차순 정렬
pairs = [(2, 'two'), (1, 'one'), (3, 'three'), (4, 'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [144]:
# 1번째 item 기준으로 내림차순 정렬
pairs.sort(key=lambda data:data[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [149]:
# 합이 큰 순으로 정렬
number_2d = [[9,9],[1,100],[10,1]]
number_2d.sort()
number_2d
print(number_2d)
# 합이 큰순으로 정렬
number_2d.sort()

[[1, 100], [9, 9], [10, 1]]

In [151]:
# 합이 큰 순으로 정렬
number_2d = [[9,9],[1,100],[10,1]]
number_2d.sort()
number_2d
print(number_2d)

# 합이 큰순으로 정렬
number_2d.sort(key=lambda items : sum(items), reverse=True)
print(number_2d)

[[1, 100], [9, 9], [10, 1]]
[[1, 100], [9, 9], [10, 1]]

In [161]:
students=[
        {'name':'홍', 'score':99},
        {'name':'김', 'score':99},
        {'name':'박', 'score':99},
        {'score':100},]

In [162]:
name_select = lambda data : data.get('name', '')
name_select({'name':'홍', 'score':99})

'홍'

In [163]:
# student를 name 순으로 정렬(ㄱㄴㄷ순)
students.sort(key=lambda data : data.get('name', '힣'))
students

[{'name': '김', 'score': 99},
 {'name': '박', 'score': 99},
 {'name': '홍', 'score': 99},
 {'score': 100}]

In [167]:
books = \
   [{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
    {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [168]:
books

[{'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [169]:
# no기준으로 sort
books.sort(key = lambda book : book['no'])
books

[{'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [170]:
# title기준으로 sort
books.sort(key = lambda book : book['title'])
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [184]:
# 30200=> 30200, '12,000'=>12000, '5000'=>5000, 'ㅁ'=>0, None=>0
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    else:
        return 0
print(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))

12000 0 0 0

In [187]:
# 30200=> 30200, '12,000'=>12000, '5000'=>5000, 'ㅁ'=>0, None=>0
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price, int):
        return price
    else:
        return 0
    
parse_int = lambda price : \
            int(price.replace(',','')) \
                    if isinstance(price, str) and price.replace(',','').isdigit() else \
            price if isinstance(price, int) else \
            0

print(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))

12000 30200 0 0

In [188]:
# {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': '12,000'} => 12000
parse_int = lambda price : \
            int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                                book.get('price').replace(',','').isdigit() else \
            price if isinstance(book.get('price'), int) else \
            0
print(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))

NameError: name 'book' is not defined

In [189]:
copyBooks = books.copy()
copyBooks.sort(key=lambda book : \
              int(book.get('price').replace(',',''))\
                   if isinstance(book.get('price'), str) and \
                               book.get('price').replace(',', '').isdigit() else \
               book.get('price') if isinstance(book.get('price'), int) else \
               0,
               reverse=True)
copyBooks

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

# 5절 파이썬 내장함수
- import 하지 않고 바로 사용 가능한 함수
- 키워드(if, while, ...)처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다.

In [1]:
a = 10
globals()  #전역변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'a = 10\nglobals()  #전역변수 리스트'],
 '_oh': {},
 '_dh': [WindowsPath('C:/AI_X_Practice_0911/Source/01_python')],
 'In': ['', 'a = 10\nglobals()  #전역변수 리스트'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x0000015B7CCAFF40>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x15b7ccbf850>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x15b7ccbf850>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': '',
 '__': '',
 '___': '',
 '_i': '',
 '_ii': '',
 '_iii': '',
 '_i1': 'a = 10\nglobals()  #전역변수 리스트',
 'a': 10}

In [2]:
all([True, True, True, False]) # 모든 요소가 다 True인지 여부

False

# 6절 연습문제

In [ ]:
1. 함수의 인자(매개변수)로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
• def get_max_min(data_list):
• get_max_min= lambda ~

In [6]:
# 요구사항에 맞게 최대값과 최소값을 구하는 함수를 두 가지 방식으로 작성
# 1) 일반 함수 버전
def get_max_min(data_list):
    return max(data_list), min(data_list)

In [7]:
# 2) 람다(lambda) 버전
get_max_min = lambda data_list: (max(data_list), min(data_list))

오늘은 람다 형식과 그것을 이용하는 여러 가지 함수들에 대해서 알아보겠습니다. 당장 완벽하게 소화하실 필요는 없을 것 같구요, 가벼운 마음으로 이런 것이 있다는 정도만 아셔도 되지 않을까 합니다. 람다 형식은 인공지능 분야나 AutoCAD라는 설계 프로그램에서 쓰이는 Lisp 언어에서 물려받았다고 하는데요, 함수를 딱 한 줄만으로 만들게 해주는 훌륭한 녀석입니다. 사용할 때는 아래와 같이 써주면 되지요.

lambda 매개변수 : 표현식
다음은 두 수를 더하는 함수입니다.

def hap(x, y):
    return x + y

hap(10, 20)
30

이것을 람다 형식으로는 어떻게 표현할까요?
(lambda x,y: x + y)(10, 20)
30
너무나 간단하죠? 
함수가 이름조차도 없습니다.

map()
먼저 map 함수를 볼까요?

map(함수, 리스트)
이 함수는 함수와 리스트를 인자로 받습니다. 
그렇죠? 그리고, 리스트로부터 원소를 하나씩 꺼내서 함수를 적용시킨 다음, 
그 결과를 새로운 리스트에 담아준답니다.

>>> map(lambda x: x ** 2, range(5))           # 파이썬 2
[0, 1, 4, 9, 16]  

>>> list(map(lambda x: x ** 2, range(5)))     # 파이썬 2 및 파이썬 3
[0, 1, 4, 9, 16]

위의 map 함수가 매개변수로 받은 함수는 lambda x: x ** 2구요, 리스트로는 range(5)를 받았습니다. 
range 함수는 알고계시죠? range(5) 라고 써주면 [0, 1, 2, 3, 4]라는 리스트를 돌려줍니다. 
그리고 **는 앞의 값을 제곱하는 연산자죠.

map 함수는 리스트에서 원소를 하나씩 꺼내서 함수를 적용시킨 결과를 새로운 리스트에 담아주니까, 
위의 예제는 0을 제곱하고, 1을 제곱하고, 2, 3, 4를 제곱한 것을 새로운 리스트에 넣어주는 것입니다.

In [8]:
# 실행 예시
print(get_max_min([10, 5, 20, 3, 7]))
# (20, 3)
# 이렇게 하면 리스트 내 정수들의 최대값과 최소값을 튜플 형태로 반환합니다.

(20, 3)

In [9]:
def get_max_min(data_list): 
    if not data_list:  # 리스트가 비어있으면 None 반환
        return None
    return max(data_list), min(data_list)

# 1. 함수 정의
# - get_max_min(data_list)는 리스트를 인자로 받아서, 그 안에 들어 있는 값들의 최댓값과 최솟값을 튜플로 반환하는 함수입니다.
# 2. 리스트가 비어있는 경우 확인
# - if not data_list:는 리스트가 비어 있으면([]) True가 됩니다.
# - 즉, 인자로 빈 리스트가 들어오면 None을 반환합니다.
# - 이렇게 하면 max()나 min() 함수에서 오류가 나는 것을 방지할 수 있어요.
# 3. 최댓값과 최솟값 반환
# - return max(data_list), min(data_list)는 
# 파이썬 내장 함수 max()와 min()을 이용해서 리스트의 최댓값과 최솟값을 계산합니다.
# - 두 값을 튜플 형태 (최댓값, 최솟값)으로 반환합니다.

In [10]:
# lambda 표현식을 이용해서 최댓값과 최솟값을 한 줄로 계산하는 버전
get_max_min = lambda data_list: (max(data_list), min(data_list)) if data_list else None

# 사용 예시
numbers = [3, 7, 1, 9, 4]
result = get_max_min(numbers)
print(result)  # 출력: (9, 1)

# 1. 람다(lambda) 함수
# - lambda data_list: ... 는 def 대신 한 줄로 함수를 정의하는 방식입니다.
# - 여기서는 data_list라는 매개변수를 받습니다.

# 2. 조건부 표현식 사용
# - ... if data_list else None 은 파이썬의 삼항 연산자 구문입니다.
# - 리스트가 비어있지 않으면 (max(data_list), min(data_list)) 반환,
# - 리스트가 비어 있으면 None 반환.

# 3. 최댓값과 최솟값 계산
# - max(data_list) → 리스트의 최댓값
# - min(data_list) → 리스트의 최솟값
# - 두 값을 (최댓값, 최솟값) 형태의 튜플로 반환합니다.

(9, 1)

In [ ]:
2. 체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요.
• getBMI(kg, m):
• BMI지수 = 체중(kg) / 신장(m)의 제곱
• BMI<18.5 : 마른체형
• 18.5<=BMI<25 : 표준
• 25<=BMI<30 : 비만
• BMI >=30 : 고도비만

In [ ]:
# 요구사항에 맞게 BMI 지수를 계산하고 체형 상태를 판별하는 함수를 작성
def getBMI(weight, height):
    bmi = weight / (height ** 2)  # BMI 공식
    
    if bmi < 18.5:
        return "마른 체형"
    elif bmi < 25:
        return "표준"
    elif bmi < 30:
        return "비만"
    else:
        return "고도비만"
    
# 실행 예시
print(getBMI(50, 1.7))   # 50kg, 170cm → 마른 체형
print(getBMI(65, 1.7))   # 65kg, 170cm → 표준
print(getBMI(80, 1.7))   # 80kg, 170cm → 비만
print(getBMI(95, 1.7))   # 95kg, 170cm → 고도비만
    
# 정리하면:
# BMI < 18.5 → 마른 체형
# 18.5 ~ 24.9 → 표준
# 25 ~ 29.9 → 비만
# 30 이상 → 고도비만

In [ ]:
3. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
• 리턴값은 면적과 둘레를 return하도록 구현하세요
• math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0
• def get_triangle(width, height):

In [ ]:
# 직각삼각형의 면적과 둘레를 구하는 함수를 작성
# 실습형 3: 직각삼각형 w, h로 area, perimeter(넓이, 둘레)
# 밑변과 높이를 입력받아 직각삼각형의 면적과 둘레를 반환하는 함수를 작성하면 다음과 같습니다:

import math

def get_triangle(width, height):
    area = (width * height) / 2                     # 면적 = 밑변 × 높이 ÷ 2
    hypotenuse = math.sqrt(width**2 + height**2)    # 빗변 = √(밑변² + 높이²)
    perimeter = width + height + hypotenuse         # 둘레 = 밑변 + 높이 + 빗변
    return area, perimeter

In [ ]:
# 실행 예시
print(get_triangle(3, 4))
# (6.0, 12.0)

print(get_triangle(5, 12))
# (30.0, 30.0)

# 이 함수는 (면적, 둘레) 형태의 튜플을 반환

In [3]:
# 여기서 return area, perimeter는 튜플을 반환합니다. 
# 필요하면 area, perimeter = get_triangle(...) 형태로 각각 변수에 담아 쓸 수 있어요.

print(get_triangle(3, 4))  
# (6.0, 12.0)

print(get_triangle(5, 12))  
# (30.0, 30.0)

(6.0, 12.0)
(30.0, 30.0)

In [ ]:
4. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).
• def mysum(fRom, end):

In [ ]:
# 시작값부터 끝값까지의 모든 정수의 합을 구하는 함수 작성
def mysum(fRom, end):
    return sum(range(fRom, end + 1))

In [ ]:
print(mysum(1, 10))   # 1+2+...+10 = 55
print(mysum(5, 8))    # 5+6+7+8 = 26

In [ ]:
# range(fRom, end + 1) 를 사용해서 끝값도 포함

In [ ]:
5. 함수의인자로 문자열을 포함하는 리스트가 입력될 때,
   각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요

• 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 
            함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
    
• def get_abbrs(lst):

In [ ]:
# 요구사항대로 리스트의 각 문자열 앞 3글자만 추출하는 함수와 람다식 구성
1) 일반 함수 버전

def get_abbrs(lst):
    return [s[:3] for s in lst]

In [31]:
def get_addrs(lst):
    answer = []
    for l in lst:
        answer.append(l[:3])
    return answer

In [ ]:
2) 람다(lambda) 버전
get_abbrs = lambda lst: [s[:3] for s in lst]

In [ ]:
실행 예시

cities = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']
print(get_abbrs(cities))

# 출력: ['Seo', 'Dae', 'Kwa', 'Jej']
# 여기서는 s[:3] 슬라이싱을 사용해서 문자열의 앞 세 글자만 추출

In [ ]:
6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오.
def f(x, y)
    return x ** y

In [ ]:
# 주어진 함수를 람다 함수로 바꾸면 이렇게 쓸 수 있습니다:

f = lambda x, y: x ** y

# 실행 예시
print(f(2, 3))   # 2 ** 3 = 8
print(f(5, 2))   # 5 ** 2 = 25


# 즉, lambda 매개변수: 표현식 형태로 변환하면 됩

In [ ]:
7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 
   람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오
    
ex = [1,2,3,4,5]
______________________________
[1, 4, 9, 16, 25]
ex = ex = [1,2,3,4,5]
______________________________
[1, 4, 9, 16, 25]

- 람다는 '이름 없는 한 줄짜리 함수'를 정의하는 문법이고, 
- 맵(map)은 '리스트와 같은 반복 가능한 자료형에 특정 함수를 적용하여 
- 새로운 리스트를 생성하는 내장 함수'입니다. 

람다 함수는 맵 함수의 인자로 사용되어, 
반복 가능한 자료형의 각 요소에 적용할 함수를 간편하게 정의하는 방식으로 자주 사용됩니다. 

- 람다 (Lambda)
형태: lambda 매개변수: 표현식. 
특징: 한 줄로 간단하게 함수를 정의할 수 있으며, 함수가 매우 짧고 일회성일 때 유용합니다. 
용도: 맵, 필터 등의 고차 함수에 전달되는 함수 인자로 사용하거나, 간단한 함수를 변수에 할당할 때 사용합니다. 

- 맵 (map)
정의: 주어진 반복 가능한 자료형(리스트 등)의 모든 요소에 특정 함수를 적용한 결과를 반환하는 내장 함수입니다. 
형태: map(함수, 반복가능한자료형). 
특징: 첫 번째 인자로 함수를 받고, 두 번째 인자로 리스트와 같은 자료를 받아 각 요소에 해당 함수를 적용합니다. 
용도: 리스트의 각 항목에 동일한 연산을 적용하고 싶을 때 사용합니다. 
        예를 들어, 리스트의 모든 숫자를 두 배로 만들고 싶을 때 람다 함수와 함께 사용하면 효율적입니다. 

- 람다와 맵에서 둘의 관계
람다 함수는 맵 함수의 '인자로 사용되는 함수'를 간편하게 정의하는 데 사용됩니다. 맵 함수는 어떤 동작을 '반복해서 수행'할 때, 그 동작을 람다 함수로 '정의'하여 맵 함수에 전달하는 식으로 함께 사용됩니다. 

- 예시 리스트 
``의 각 요소에 2를 더하는 연산을 하고 싶을 때, 
            람다 함수와 맵 함수를 다음과 같이 함께 사용할 수 있습니다. 

Python
numbers = [1, 2, 3]
람다 함수와 map 함수를 사용한 예시
result = list(map(lambda x: x + 2, numbers))
result는 [3, 4, 5]가 됩니다.

위 예시에서 lambda x: x + 2는 각 요소에 2를 더하는 람다 함수이고, 
이 람다 함수를 map 함수의 첫 번째 인자로 사용하여 numbers 리스트의 각 요소에 적용합니다.

In [27]:
# 람다 함수와 map 함수를 사용한 예시

numbers = [1, 2, 3]
result = list(map(lambda x: x + 2, numbers))
result

[3, 4, 5]

In [28]:
# 일반 함수를 정의해서 같은 작업을 수행할 수 있습니다. 예시는 다음과 같습니다:

numbers = [1, 2, 3]

def add_two(x):
    return x + 2

result = list(map(add_two, numbers))
print(result)

[3, 4, 5]

In [29]:
# map 없이 완전히 일반적인 반복문으로도 가능합니다:

numbers = [1, 2, 3]
result = []

def add_two_list(lst):
    new_list = []
    for x in lst:
        new_list.append(x + 2)
    return new_list

result = add_two_list(numbers)
print(result)

[3, 4, 5]

In [ ]:
코드 분석
numbers = [1, 2, 3]

numbers라는 리스트를 만들고 [1, 2, 3] 값을 넣었습니다.
리스트는 여러 값을 순서대로 저장할 수 있는 자료형입니다.

result = []

result라는 빈 리스트를 생성합니다.
이후에 함수의 반환값을 여기에 저장할 예정입니다.

def add_two_list(lst):
    new_list = []
    for x in lst:
        new_list.append(x + 2)
    return new_list


def add_two_list(lst):

add_two_list라는 함수를 정의합니다.
함수의 입력값(매개변수)은 lst입니다.

new_list = []

함수 내부에서 새로운 빈 리스트 new_list를 생성합니다.

이 리스트에 계산 결과를 담아 반환할 예정입니다.

for x in lst:

lst에 들어있는 각 값 x를 하나씩 꺼내서 반복합니다.

new_list.append(x + 2)

현재 값 x에 2를 더한 뒤, new_list에 추가합니다.

return new_list

반복이 끝난 후, 계산된 새로운 리스트를 반환합니다.

result = add_two_list(numbers)

numbers 리스트 [1, 2, 3]를 함수에 넣어 호출합니다.

함수는 각 값에 2를 더한 [3, 4, 5]를 반환하고, 그 값을 result에 저장합니다.

print(result)


result의 값을 화면에 출력합니다.

출력 결과:
[3, 4, 5]

요약
이 프로그램은 리스트의 각 요소에 2를 더한 새 리스트를 만드는 함수를 정의하고, 이를 실제 리스트에 적용해서 결과를 출력하는 예제입니다.

In [ ]:
# 구사항대로 리스트의 각 원소를 제곱하는 두 가지 방법

# 1) 람다 + map() 함수 사용
ex = [1, 2, 3, 4, 5]
result = list(map(lambda x: x**2, ex))
print(result)
# 출력: [1, 4, 9, 16, 25]

# lambda x: x**2 → 각 원소를 제곱
# map() → 리스트의 모든 원소에 함수를 적용
# list() → map 객체를 리스트로 변환

In [ ]:
# 2) 리스트 컴프리헨션 사용
ex = [1, 2, 3, 4, 5]
result = [x**2 for x in ex]
print(result)
# 출력: [1, 4, 9, 16, 25]

# [x**2 for x in ex] → ex의 각 원소 x를 제곱한 값으로 새 리스트 생성

# 두 방법 모두 같은 결과 [1, 4, 9, 16, 25]를 얻습니다.

In [ ]:
8. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오.

>>> a = [1, 2, 3]
>>> print(*a
1, 2, 3
>>> print(a)
[1, 2, 3]

In [ ]:
# 코드의 차이

# 코드 비교
a = [1, 2, 3]
print(*a)  # 1, 2, 3
print(a)   # [1, 2, 3]

# 1. print(a)
# 리스트 a 자체를 출력합니다. 따라서 리스트의 대괄호 [ ]와 쉼표 ,가 그대로 표시됩니다.
# 출력: [1, 2, 3]

# 2. print(*a)
# *a 는 언패킹(unpacking) 연산자입니다. 리스트 안의 원소들을 하나씩 꺼내서 print() 함수의 개별 인자로 전달합니다.
# print()는 기본적으로 인자를 공백으로 구분해서 출력합니다.
# 출력: 1 2 3

#주의: 쉼표가 붙은 것처럼 보이게 출력하려면 print(*a, sep=', ') 처럼 sep 옵션을 지정해야 합니다.

#정리
# print(a) → 리스트 자체 출력 → [1, 2, 3]
# print(*a) → 리스트의 원소들을 개별 인자로 언패킹 → 1 2 3

In [ ]:
9. 다음 코드의 실행 결과는?

>>> date_info={'year':2024}, 'month':9, 'day':6
>>> result = '{year}-{month}-{day}', format(**date_info)
>>> result

In [24]:
# 코드 확인
date_info = {'year':2024, 'month':9, 'day':6}
result = '{year}-{month}-{day}'.format(**date_info)
print(result)

2024-9-6

In [21]:

# 문제점 확인
# 1. date_info = {'year':2024}, 'month':9, 'day':6}
# 여기서 data_info는 튜플이 됩니다:
({'year':2024}, 'month', 9, 'day', 6)
# 아마 의도는 딕셔너리 {'year':2024, 'month':9, 'day':6}를 만드는 것이었을 겁니다.

# 2. '{year}-{month}-{day}'.format(*date_info)
# *date_info 는 튜플의 원소들을 위치 인자로 전달합니다.
# 그런데 format 문자열에 키워드(year, month, day) 사용 
# → 위치 인자가 아닌 키워드 인자가 필요합니다.
# 따라서 실행하면 오류가 납니다:

KeyError: 'year'

In [23]:

# 올바른 코드 예시

date_info = {'year': 2024, 'month': 9, 'day': 6}
result = '{year}-{month}-{day}'.format(**date_info)
print(result)


# 출력:
# 2024-9-6
# **date_info → 딕셔너리를 키워드 인자로 언패킹하여 format에 전달

# 결론:
# 주신 코드를 그대로 실행하면 KeyError: 'year' 가 발생합니다.

2024-9-6

In [ ]:
10. n개의 벡터(리스트나 튜플, 셋등)들의 크기가 같은지 여부를 reutrn하는
vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

In [25]:
# 실습형 10
# 입력받은 n개의 벡터(리스트, 셋, 딕셔너리, 튜플)의 크기가 같은지를 return하는 함수
3 
def vector_size_check(*vector_var):
    print(vector_var)
vector_size_check([1,2],[10,20],{'name':'홍', 'age':30}, (1,))

# 입력받은 4개의 벡터(리스트, 셋, 딕셔너리, 튜플)의 크기
# 람다(lambda)는 이름이 없는 간단한 익명 함수이며, 
# 리스트 컴프리헨션(list comprehension)은 파이썬에서 리스트, 집합, 딕셔너리 등에서 새 자료구조를 생성하는 간결한 문법입니다. 
# 람다는 주로 `map()`이나 `filter()`와 함께 쓰이며, 
# 리스트 컴프리헨션은 `map()`과 `filter()`를 대체하는 경우가 많아 코드의 가독성과 효율성을 높이는 데 사용됩니다

([1, 2], [10, 20], {'name': '홍', 'age': 30}, (1,))

In [1]:
# vector_size_check 함수를 리스트 컴프리헨션 한 줄로 작성하면 이렇게 할 수 있어요 👇

def vector_size_check(*vector_var):
    return all(len(v) == len(vector_var[0]) for v in vector_var)

# 설명
# len(vector_var[0]) : 첫 번째 벡터의 크기를 기준으로 삼습니다.
# all(...) : 모든 벡터의 길이가 같으면 True, 하나라도 다르면 False를 반환합니다.
# 리스트 컴프리헨션 대신 generator comprehension을 쓰면 메모리 낭비도 줄일 수 있습니다.

# 실행 예시
print(vector_size_check([1,2],[10,20],{'name':'홍','age':30},(1,)))  
# False (마지막 튜플의 길이가 1이라 다름)

print(vector_size_check([1,2],[10,20],{'a':1,'b':2},(5,6)))  
# True (모두 길이 2)

False
True

In [ ]:
11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.(단 입력되는 벡터의 크기는 일정하지 않음)
# 스칼라값을 벡터(리스트, 튜플, 셋 등)에 곱해서 각 원소를 스칼라값으로 곱한 새로운 벡터를 만들고 싶다는 의미로 이해

In [ ]:
# 1. 리스트, 튜플, 셋 모두 처리 가능한 일반 함수
def scalar_multiply(scalar, vector):
    if isinstance(vector, list):
        return [scalar * x for x in vector]
    elif isinstance(vector, tuple):
        return tuple(scalar * x for x in vector)
    elif isinstance(vector, set):
        return {scalar * x for x in vector}
    else:
        raise TypeError("리스트, 튜플, 셋만 지원합니다.")

In [ ]:
# 2. 실행 예시
print(scalar_multiply(2, [1, 2, 3]))    # [2, 4, 6]
print(scalar_multiply(3, (1, 2, 3)))    # (3, 6, 9)
print(scalar_multiply(4, {1, 2, 3}))    # {4, 8, 12}

In [ ]:
# 3. 핵심 설명
# 리스트: [scalar * x for x in vector]
# 튜플: tuple(scalar * x for x in vector)
# 셋: {scalar * x for x in vector}
# isinstance로 자료형을 구분하여 적절한 자료형으로 반환

# 입력 벡터의 크기는 일정하지 않아도 상관없습니다.

In [ ]:
연습문제 객관식

In [32]:
# 1. 다음 코드의 실행 결과는?
pairs = [(1, 'd'), (2, 'c'), (3, 'b'), (4, 'a')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [ ]:
# 2. 함수 영역과 변수들의 참조 영역에 따른 동작을 보여주기 위한 문제입니다. 
# 오류가 발생하는 라인을 찾고 문제를 해결하기 위한 코드를 작성하며, 실행 결과를 쓰세요.

a = 10                   # 전역변수
def sub():
    a += 1
    print(a, end='')
    
def func()
    for i in range(2)
        a = 5            # 지역변수
        a += 1
            print(a, end='')
            sub()
a += 1
func()

In [ ]:
# 오류가 발생하는 이유와 수정 방법을 단계별로 설명
# 2. 오류 발생 이유
# ① sub() 함수

def sub():
    a += 1
    print(a, end='')

# 여기서 a += 1 은 a = a + 1과 동일합니다.
# 파이썬은 함수 내부에서 변수를 할당(=)하면 기본적으로 지역변수로 간주합니다.
# 그런데 a를 지역변수로 정의하기 전에 a += 1을 하므로
# UnboundLocalError: local variable 'a' referenced before assignment 오류가 발생합니다.

# 해결 방법:

# a가 전역변수임을 명시적으로 알려주기 위해 global a를 사용합니다.

def sub():
    global a
    a += 1
    print(a, end='')

In [ ]:
3. 다음 구문을 실행한 결과는?
var = 100
def func(var):
    var = 200
func(var)
print(var)

In [ ]:
# 실행 과정
# 1. var = 100 → 전역 변수 var 생성, 값 100
# 2. def func(var): → 함수 정의
#    함수 매개변수 var는 지역 변수가 됩니다.
# 3. func(var) → 전역 변수 var(값 100)를 인자로 전달
#    함수 내부: 지역 변수 var = 200
#    전역 변수 var는 그대로 100
# 4. print(var) → 전역 변수 var 참조

#  결과
# 100


#  정리
# 함수 내부에서 매개변수로 받은 var는 지역 변수이므로, 전역 변수에 영향을 주지 않습니다.
# 따라서 func() 호출 후에도 전역 변수 var의 값은 그대로 100입니다.

In [34]:
# 4. 다음 구문의 실행 결과는?
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3)

5

In [33]:
import numpy as np
np.add(2,3)

5

In [ ]:
def my_func(func, *args):
    return func(*args)

import numpy as np
my_func(np.add, 2, 3)

# 코드 설명
# 1. def my_func(func, *args)
# - func → 함수 객체를 인자로 받음
# - *args → 여러 개의 인자를 튜플 형태로 받음
# 2. return func(*args)
# *args를 언패킹하여 func에 인자로 전달
# 즉, func(args[0], args[1], ...) 실행
# 3. my_func(np.add, 2, 3)
# func = np.add → NumPy의 덧셈 함수
# args = (2, 3) → np.add(2, 3) 실행

# 실행 결과
# python
# 5
# - np.add(2, 3) → 2 + 3 = 5
# - 따라서 함수 호출 결과는 5입니다.

#  정리
# - my_func는 함수와 인자를 받아서 실행하는 일반화된 함수 호출기 역할
# - *args → 가변 인자 언패킹
# - np.add → 두 수를 더하는 NumPy 함수

In [ ]:
5. 다음 구문의 실행결과는?
def my_func(func, *args):
    return func(*args)
my_func(lambda a, b: a**b, 3, 2)

In [ ]:
# 코드 설명
# 1. def my_func(func, *args)
# - func → 함수 객체를 인자로 받음
# - *args → 여러 개의 인자를 튜플 형태로 받음

# 2. return func(*args)
# - *args를 언패킹하여 func에 전달
# - 즉, func(args[0], args[1], ...) 실행

# 3. my_func(lambda a, b: a**b, 3, 2)
# - func = lambda a, b: a**b → 두 수의 거듭제곱을 계산하는 람다 함수
# - args = (3, 2) → lambda a, b: a**b에 인자로 전달

# - 계산: 3 ** 2 = 9

# 실행 결과
# 9

6. 파이썬 함수에 대한 설명 중 잘 못된 것은? (1)
(1) 파이썬의 함수는 중복 정의해 사용할 수 있다.
(2) 파이썬의 함수 매개변수는 기본값을 가질 수 있다.
(3) **args형식의 매개변수가 있으면 키워드 인수는 딕셔너리 형식으로 받는다.
(4) 함수를 호출할 때 매개변수 이름이 없는 인수는 매개변수 이름이 있는 인수보다 앞에 와야 한다.

In [ ]:

# (1) 파이썬의 함수는 중복 정의해 사용할 수 있다.
# 맞습니다. 다만, 같은 이름으로 함수를 재정의하면 마지막 정의가 적용됩니다.
# 예:
# def f(): return 1
# def f(): return 2
# print(f())  # 2

# (2) 파이썬의 함수 매개변수는 기본값을 가질 수 있다.
# 맞습니다.
# 예:
# def f(a=10): return a
# print(f())  # 10

# (3) *args 형식의 매개변수가 있으면 키워드 인수는 딕셔너리 형식으로 받는다.
# 잘못된 설명입니다.
# *args → 위치 인수를 튜플로 받습니다.
# 키워드 인수를 딕셔너리로 받으려면 **kwargs를 사용해야 합니다.

# 예:

# def f(*args, **kwargs):
#     print(args, kwargs)

# f(1, 2, x=3, y=4)  
# 출력: (1, 2) {'x': 3, 'y': 4}

# ❌ 잘못된 설명 → 정답

# (4) 함수를 호출할 때 매개변수 이름이 없는 인수는 매개변수 이름이 있는 인수보다 앞에 와야 한다.

# 맞습니다.

# 위치 인수(positional argument)가 키워드 인수(keyword argument)보다 앞에 와야 합니다.

# 예:

def f(a, b): return a+b
f(1, b=2)  # 가능
f(a=1, 2)  # 오류


#  맞는 설명

#  정답
# (3)

#  이유: *args는 튜플로 위치 인수를 받으며, 키워드 인수는 **kwargs로 딕셔너리 형식으로 받아야 합니다.

In [ ]:
7. 다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출은?
list_ = []
def func(a, L=None):
    if Lis None:
        L=[]
    L.append(a)
    return L

(1) func(10, list_)
(2) func(20, L=list_)
(3) func(a=30)
(4) func([], a=40)

In [ ]:
# 매개변수:

# a → 필수 위치 인수
# L=None → 기본값은 None, 내부에서 리스트로 초기화

# 함수 내부:
# if L is None: → L = []
# L.append(a) → 리스트에 a 추가

# 각 호출 분석

# (1) func(10, list_)
# 위치 인수로 a=10, L=list_ 전달
# 
# L은 None이 아니므로 기존 리스트(list_)에 10 추가
# 오류 없음 ✅


# (2) func(20, L=list_)
# 키워드 인수로 L=list_ 전달
# a=20 → 위치 인수, L=list_ → 키워드 인수
# Python에서 위치 인수와 키워드 인수를 섞어도 문제 없음
# 오류 없음 ✅

# (3) func(a=30)
# a=30 → 키워드 인수
# L → 기본값 None 사용 → 내부에서 L = []로 초기화
# 오류 없음 ✅

# (4) func([], a=40)
# 호출: 위치 인수 1개 ([]), 키워드 인수 a=40
# Python 함수에서 같은 매개변수에 대해 위치 인수와 키워드 인수를 동시에 전달하면 오류
# 여기서 []는 a에 들어가고, a=40도 전달 → TypeError: got multiple values for argument 'a'
# ❌ 오류 발생
# ✅ 정답 (4)

In [ ]:
8. 다음 보기가 설명하는 것을 작성하기 위한 키워드를 쓰세요.(영문 소문자로 쓰세요)
- 작은 익명 함수를 의미합니다.
- 함수가 실행할 문장이 한 문장일 경우에 만들어 사용할 수 있습니다.
- 다른 함수의 인수 또는 리턴값에 사용할 수 있습니다.

In [ ]:
# 설명하신 내용은 파이썬에서 람다 함수를 의미합니다.
#  키워드 lambda