In [ ]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:18pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))

<b><font size="7" color="red">ch11. 데이터프레임과 시리즈(Pandas)</font></b>

# 9절 데이터그룹화 및 집계

In [13]:
from statsmodels.api import datasets
iris = datasets.get_rdataset('iris').data
print(iris.shape)
iris.iloc[[0,49,50,99,100,149]]

(150, 5)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0             5.1          3.5           1.4          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
149           5.9          3.0           5.1          1.8   virginica

## 9.1 groupby
cf. pivot_table

In [21]:
import pandas as pd
from sklearn.datasets import load_iris

# iris 데이터 불러오기
iris = load_iris(as_frame=True)
df = iris.frame

# 종(Species)별로 그룹화하여 합계 구하기
iris_grouped_sum = df.groupby('target').sum().reset_index()

# target을 실제 품종명으로 매핑
df['Species'] = df['target'].map({0:'setosa', 1:'versicolor', 2:'virginica'})
iris_grouped_sum = df.groupby('Species').sum().reset_index()

In [22]:
iris_grouped_sum[
    (iris_grouped_sum['Species'] == 'setosa') |
    (iris_grouped_sum['Species'] == 'virginica')
]

,Species,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,setosa,250.3,171.4,73.1,12.3,0
2,virginica,329.4,148.7,277.6,101.3,100

In [23]:
iris_grouped_sum[(iris_grouped_sum['Species']=='setosa') |
                 (iris_grouped_sum['Species']=='virginica') ]

,Species,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,setosa,250.3,171.4,73.1,12.3,0
2,virginica,329.4,148.7,277.6,101.3,100

In [24]:
iris_grouped_sum.reset_index(inplace=True)
iris_grouped_sum

,index,Species,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,0,setosa,250.3,171.4,73.1,12.3,0
1,1,versicolor,296.8,138.5,213.0,66.3,50
2,2,virginica,329.4,148.7,277.6,101.3,100

In [25]:
iris_grouped = iris.grouby(by='Species')

AttributeError: grouby