# 4절 포맷팅

## 4.1. 문자열 형식

In [23]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:22pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:100px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))

In [ ]:
# data에서 전화번호 없애기
tel_pattern = r"0\d{1,2}[\-\.)]?\d{3,4}[\-\.]?\d{4}"
re.sub(tel_pattern, '')

In [ ]:
# 파일 경로
file_path = r"D:\ai\source\01_python\data\ch02.txt"
file_path = "D:\ai\source\01_python\data\ch02.txt"
file_path = "D:\ai\source\01_python\data\ch02.txt"

## 4.2. format()문법

## 4.2 format() 문법
- "{[인덱스]:[공백대체문자],[정렬방식],[자릿수],[타입]}".format(변수명)
* 인덱스 : format 함수안의 매개변수 순서
* 정렬방식 : <(왼쪽 정렬), >(오른쪽 정렬), ^(가운데정렬)
* 정수자릿수 : 출력할 자릿수
* 문자자릿수 : 전체출력될 자리수, 변수중에 출력할 자리수
* 타입 : d(10진수), o(8진수), x(16진수), b(2진수), s(문자)
* 공백대체문자는 정렬방식을 명시하여 함.

In [1]:
# 숫자의 경우 오른쪽 정렬(기본)
# 문자의 경우 왼쪽 정렬(기본)
a = 12345
s = 'Hello'
print("[{0}][{0:10}][{0:3}]".format(a))
print("[{0}][{0:10}][{0:3}]".format(s))

[12345][     12345][12345]
[Hello][Hello     ][Hello]

In [4]:
# 정렬방식 : <, ^, > 
a, b, c = 10, 20,3
print("[{:>4}][{:^4}][{:>4}]".format(a, b, c))

[  10][ 20 ][   3]

In [6]:
# 실수 자릿수 ex. 10.2f:전체10자리 소수정2자리
a = 10
f = 12.569
s = "Hello"
print("[{:$>10}][{:6.2f}[{:_>6.2}]]".format(a, f, s))

[$$$$$$$$10][ 12.57[____He]]

In [8]:
# 자리수앞에 *를 붙이면 양수의 경우도 부호출력
a, b = 123, -123
print("[{:+10}],[{:+10}],[{:10}]".format(a, b, c))

[      +123],[      -123],[         3]

In [11]:
# 10진수, 8진수, 16진수, 2진수 출력
a = 15
print("10진수 [{:4d}]".format(a))
print("8진수 [{:4o}]".format(a))
print("16진수 [{:4x}]".format(a))
print("2진수 [{:4b}]".format(a))

10진수 [  15]
8진수 [  17]
16진수 [   f]
2진수 [1111]

In [13]:
a = 2.785
sign = "+"
print("[{:{}10.4}]".format(a, sign))

[    +2.785]

In [ ]:
a = 2.785
sign1 = "+"
width1 = 10
precision1 = 4
print("[{:{}10.4}]".format(a, sign))
print("[{:{}10.4}]".format(a, sign))
sign=sign1, width=width1, precision=precision1))

## 4.3 날짜출력

In [17]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda4\\lib\\datetime.py'

In [19]:
import datetime # datetime 모듈(파이썬 프로그램 파일 datetime.py) 전체를 메로리 Load
from datetime import datetime # datetime 모듈 안의 datetime 만 메모리 load 
thatday1 = datetime(2025, 9, 11) #25년 9월 11일 0시 0분 0초
thatday2 = datetime(2025, 9, 11, 14, 30, 0)
thatday1

datetime.datetime(2025, 9, 11, 0, 0)

In [20]:
# Y(년도4자리), y(년도2자리) m(월) d(일) p(am/pm) I(12시간) H(24시간) M(분) S(초)
print("{:%y년 %m월 %d일 %H시 %M분 %S초}".format(thatday1))
print("{:%y년 %m월 %d일 %p %I시 %M분 %S초}".format(thatday1))

25년 09월 11일 00 00분 00초
25년 09월 11일 AM 12시 00분 00초

In [21]:
thatday1.strtime(%y년 %m월 %d일 %H시 %M분 %S초)

SyntaxError: invalid syntax (1721578397.py, line 1)

In [24]:
thatday2.strtime(%y년 %m월 %d일 %p %I시 %M분 %S초)

SyntaxError: invalid syntax (22605848.py, line 1)

In [27]:
지금(날짜와 시간) 원하는 스타일로 출력
print("{:%Y-%m-%d-%p-%i-%M}".format(now))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1836449074.py, line 1)

In [28]:
# 지금을 문자열로 전화하는 함수
from time import strftime
strftime("%Y-%m-%d %p %E:%M ")

ValueError: Invalid format string

# 5. 연산자

## 5.1. 비교연산과 비트연산

## 5.2. 할당연산자 =, +=, -=, /=, +=, //=, %=

In [29]:
a = 10
a += 5                # a = a + 5와 동일
print(f"a = {a}")

a = 15

In [30]:
a -= 5                 # a = a-5와 동일
a += 5
print(f"a = {a}")

a = 15

In [ ]:
a -= 5                  #  a = a-5
print("5빼기 :", a)      # 10
a *= 10                 # 100

## 5.3 논리연산자 : &, and, |, or, not

In [31]:
#& 논리연산자, 비트연산자
print(10>3)&(10>5)) # 논리연산 true & True
print( 12&1 ) # 비트 연산  1100(12)
                      #   0001
                      # &:0000

SyntaxError: unmatched ')' (505029533.py, line 2)

In [33]:
# | : 논리연산
# 모든 항이 거짓이면 마지막항의 결과 반환
# result = True | False
print(False or 0 or '' or None or [])

[]

In [34]:
not 10>5

False

## 5.4 비교연산자 : >, >=, <, <=, ==(같다), != (다르다)

In [35]:
## 5.4 비교연산자 : >, >=, <, <=, ==(같다), != (다르다)
print( (10>5) & (10>7))

True

## 5.5 비트연산 : &, |, ^

In [ ]:
## 5.5 비트연산 : &, |, ^(XOR), ~(반대)

In [6]:
a = 15 # 1111(8+4+2+1)
b =  2 # 0010
print("  a = {0:2} : {0:04b}".format(a))
print("  b = {0:2} : {0:04b}".format(b))
print("a&b = {0:2} : {0:04b}".format(a&b))
print("a|b = {0:2} : {0:04b}".format(a|b))
print("a^b = {0:2} : {0:04b}".format(a^b))
print("~a = {0:2} : {0:04b}".format(~a))

  a = 15 : 1111
  b =  2 : 0010
a&b =  2 : 0010
a|b = 15 : 1111
a^b = 13 : 1101
~a = -16 : -10000

# 6. 문자열 다루기
- 문자열변수.[from:to:step] : 일부 문자 추출
- len(문자열변수)
- upper() : 대문자로 바꿔주기
- lower() : 소문자로 바꿔주기
- title() : 각 어절의 앞글자만 대문자로
- capitalize() : 첫문자만 대문자로
- count("찾을 문자") : "찾을 문자"가 몇개 들어있는지 갯수 반환
- find("찾을 문자") : "찾을 문자"가 왼쪽부터 몇번째에 있는지 index를 반환 (없으면 -1)
- rfind("찾을 문자") : "찾을 분자"가 오른쪽부터 몇번째에 있는지 index를 반환 (없으면 -1)
  cf. index("찾을 문자") : 찾을 분자"가 왼쪽부터 몇번째에 있는지 index를 반환 (없으면 에러)
- startswith("특정문자") : "특정문자"로 시작하는지 여부 반환
- endswith("특정문자") : "특정문자"로 끝나는지 여부 반환

- strip() : 좌우공백제거(trim)
- lstrip() : 좌우 공백 제거
- rstrip() : 오른쪽 공백 제거
- split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환
- isdigit() : 문자열이 숫자문자열인지 여부 반환
- islower() : 문자열이 소문자열인지 여부 반환
- isupper() : 문자열이 대문자열인지 여부 반환
- replace(oldStr, newStr) : oldStr을 newStr로 변경

In [7]:
int("1000".replace(",", ""))

1000

In [12]:
temp = "python is easy. phython is smart. python"
temp, len(temp)

('python is easy. phython is smart. python', 40)

In [13]:
temp = "python is easy. phython is smart. python"
print("대문자로 :", temp.upper())

대문자로 : PYTHON IS EASY. PHYTHON IS SMART. PYTHON

In [14]:
temp = "python is easy. phython is smart. python"
print("대문자로 :", temp.lower())

대문자로 : python is easy. phython is smart. python

In [15]:
temp = "python is easy. phython is smart. python"
print("대문자로 :", temp.title())

대문자로 : Python Is Easy. Phython Is Smart. Python

In [44]:
temp = "python is easy. python is smart. python"
temp, len(temp)
print("대문자로 :", temp.upper())
print("소문자로 :", temp.lower())
print("title :", temp.title())
print("capitalize():", temp.capitalize())
print("C가 몇번 나오는지 :", temp.count("C"))
print("대소문자 구분없이 python이 몇번 :", temp.lower().count("python"))
print("대소문자 구분없이 python이 몇번 :", temp.upper().count("PYTHON"))
print("대소문자 구분없이 python이 몇번 :", temp.title().count("Python"))
print("python이 나오는 첫 index 위치 :", temp.find("python"))
print("python이 나오는 첫 index 위치 :", temp.rfind("python"))
print("C가 나오는 index 위치 :", temp.find("C")) # 찾을문자가 없을 경우 -1
print("python이 나오는 첫 index 위치 :", temp.index("python"))
# print("java가 나오는 첫 index 위치 :", temp.index("java")) # 찾을문자가 없을 경우 -1는 내는 것이 아니라 에러가 남
print("python으로 시작하는 여부 :", temp.startswith("python"))
print("대소문자 구분없이 python으로 시작하는 여부 :", temp.lower().startswith("python"))
print("python으로 끝나는지 여부 :", temp.startswith("python"))
print("n으로 끝나는지 여부 :", temp.endswith("n"))
print("python을 R로 변경 :", temp.replace("python", "R"))

대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
소문자로 : python is easy. python is smart. python
title : Python Is Easy. Python Is Smart. Python
capitalize(): Python is easy. python is smart. python
C가 몇번 나오는지 : 0
대소문자 구분없이 python이 몇번 : 3
대소문자 구분없이 python이 몇번 : 3
대소문자 구분없이 python이 몇번 : 3
python이 나오는 첫 index 위치 : 0
python이 나오는 첫 index 위치 : 33
C가 나오는 index 위치 : -1
python이 나오는 첫 index 위치 : 0
python으로 시작하는 여부 : True
대소문자 구분없이 python으로 시작하는 여부 : True
python으로 끝나는지 여부 : True
n으로 끝나는지 여부 : True
python을 R로 변경 : R is easy. R is smart. R

In [39]:
temp = "    phone is easy    "
notdigit = "1,000"
print("공백 유지 : [{}]".format(temp))
print("좌우 공백 제거 : [{}]".format(temp.strip()) )
print("왼쪽 공백 제거 : [{}]".format(temp.lstrip()) )
print("오른쪽 공백 제거 : [{}]".format(temp.rstrip()) )
print("isdigit(숫자문자)인지 여부 :", notdigit.isdigit())
print("replace후 isdigit :", notdigit.replace(",", "").isdigit() )
print("대문자인 여부 :", temp.isupper() ) 
print("소문자인 여부 :", temp.islower() )

공백 유지 : [    phone is easy    ]
좌우 공백 제거 : [phone is easy]
왼쪽 공백 제거 : [phone is easy    ]
오른쪽 공백 제거 : [    phone is easy]
isdigit(숫자문자)인지 여부 : False
replace후 isdigit : True
대문자인 여부 : False
소문자인 여부 : True

In [47]:
names = "홍길동 김길동    박길동 주길동 고길동"
name_list = names.split()
print("space단위로 names분리(list로 반환) :", name_list)
print(name_list[0], name_list[1])

space단위로 names분리(list로 반환) : ['홍길동', '김길동', '박길동', '주길동', '고길동']
홍길동 김길동

In [53]:
date_str = "2025-09-17"
date_list = date_str.split("-")
print(date_list)
print("년도 :", date_list[0])
print("월 :", date_list[1])
print("일 :", date_list[2])

['2025', '09', '17']
년도 : 2025
월 : 09
일 : 17

In [54]:
str_ = "ABC"
str_ = ["A", "B", "C"]
str_[0], str_[1], str_[2]

('A', 'B', 'C')

In [67]:
# ' - '을 '/'로 바꾸기
temp = "Python - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML(M/DNN/CNN/RNN) - LLM(RAG)"
temp.replace("-", "/")
#split()와 join 이용하여 replace역할
splited_temp = temp.split(" - ")
print(splited_temp)
print('분리된 temp :', splited_temp)
joined_temp = "/".join(splited_temp)
print("join temp :", joined_temp)

['Python', '웹(HTML/CSS/JS)', 'Oracle/MySQL(DBMS)', 'DL/ML(M/DNN/CNN/RNN)', 'LLM(RAG)']
분리된 temp : ['Python', '웹(HTML/CSS/JS)', 'Oracle/MySQL(DBMS)', 'DL/ML(M/DNN/CNN/RNN)', 'LLM(RAG)']
join temp : Python/웹(HTML/CSS/JS)/Oracle/MySQL(DBMS)/DL/ML(M/DNN/CNN/RNN)/LLM(RAG)

In [68]:
# 문자열을 다룰 수 있는 함수들 목록
temp = "a"

# 7. 시간, 날짜 다루기

In [69]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda4\\lib\\datetime.py'

In [13]:
# datetime모듈(datetime.py) 안의 datetime, date, time 만 load
from datetime import datetime, date, time

## 7.1. 시간과 날짜

In [14]:
# 특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 9, 11, 9, 30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [17]:
# 날짜를 문자열로 전환
print("{:%y년%m월%d일(%A) %H:%M:%S}".format(thatday))
print(thatday.strftime("%y년%m월%d일(%A) %H:%M:%S"))
print(thatday.ctime())

25년09월11일(Thursday) 09:30:00
25년09월11일(Thursday) 09:30:00
Thu Sep 11 09:30:00 2025

In [18]:
# 지금을 저장하는 datetime 객체 생성
now = datetime.now()
print(now)
print(now.ctime())
print(now.strftime("%y년%m월%d일(%A) %I:%M:%S"))

2025-09-17 14:32:12.361688
Wed Sep 17 14:32:12 2025
25년09월17일(Wednesday) 02:32:12

In [19]:
diff = now-thatday
print(diff)
print(diff.days)

6 days, 5:02:12.361688
6

## 7.2 날짜

In [23]:
# 특정한 날짜를 갖는 date 객체 생성
someday = date(2025,9,11)
someday

datetime.date(2025, 9, 11)

In [22]:
print(someday)
print(someday.strftime("%y년 %m월 %d일 %H:%M"))

2025-09-11
25년 09월 11일 00:00

In [26]:
# 오늘을 갖는 date 객체 생성
today1 = date.today()
today2 = datetime.now().date()
print(today1 == today2)

True

In [28]:
print(today1.strftime("%Y년%m월%d일 %H:%M"))
print(today2.strftime("%Y년%m월%d일 %H:%M"))

2025년09월17일 00:00
2025년09월17일 00:00

In [30]:
diff = someday - today1
print(diff)
print(diff.days)

-6 days, 0:00:00
-6

## 7.3 시간

In [32]:
# 특정한 시간을 저장하는 time 객체 생성
t = time(14, 39, 0)
t

datetime.time(14, 39)

In [34]:
print(t.strftime("%p %I:%M"))
print(t.strftime("%Y년 %m월 %d일 %p %I:%M"))

PM 02:39
1900년 01월 01일 PM 02:39

In [35]:
# 현재 시간
nowtime = datetime.now().time()
print(nowtime)

14:43:50.175342

In [36]:
datetime(1752, 1, 12, 3)

datetime.datetime(1752, 1, 12, 3, 0)

# 연습문제

[문제01] 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화
- [출력형식 : 홍길동님의 나이는 23살입니다]

In [37]:
name = input("이름을 입력하세요: ")
age = int(input("나이를 입력하세요: "))
print("{}님의 나이는 {}살입니다".format(name, age))

이름을 입력하세요: 홍길동
나이를 입력하세요: 23
홍길동님의 나이는 23살입니다

[문제02] 두 정수를 입력 받아 두 수의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지를 출력하라.

In [1]:
a = int(input("첫 번째 정수를 입력하세요: "))
b = int(input("두 번째 정수를 입력하세요: "))

# 연산 수행 및 출력
print(f"덧셈: a + b = {a} + {b} = {a+b}")
print(f"뺄셈: a - b = {a} + {b} = {a-b}")
print(f"곱셈: a * b = {a} * {b} = {a*b}")
print(f"나눗셈: a / b = {a} / {b} = {a / b}")
print(f"몫: a // b = {a} // {b} = {a // b}")
print(f"나머지: a % b = {a} % {b} = {a % b}")

첫 번째 정수를 입력하세요: 12
두 번째 정수를 입력하세요: 34
덧셈: a + b = 12 + 34 = 46
뺄셈: a - b = 12 + 34 = -22
곱셈: a * b = 12 * 34 = 408
나눗셈: a / b = 12 / 34 = 0.35294117647058826
몫: a // b = 12 // 34 = 0
나머지: a % b = 12 % 34 = 12

[문제03] 문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World’가 할당된 변수를 이용하여 ‘World Hello’로 출력하세요

In [13]:
text = "Hello World"
words = text.split()
result = words[1]+" "+words[0]
print(result)  # World Hello

World Hello

####

[문제04]. x = 'abcdef＇를 이용하여 ‘bcdefa’로 출력하세요(문자 슬라이싱이용).

In [14]:
x = 'abcdef'
result = x[1:] + x[0]
print(result)  # bcdefa

bcdefa

[문제05]. x = ‘abcdef’를 이용하여 ‘fedcba’로 출력하세요

In [15]:
x = 'abcdef'
result = x[-1::-1]
print(result)  # bcdefa

fedcba

[문제06] 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요. 
- 화씨 온도는 소수점이 있을 경우만  두번째 자리까지 출력되고, 
- 소수점이하 값이 없는 경우 소수점을 출력하지 않도록 합니다.
- (다음은 섭씨와 화씨의 변환 공식입니다. C는 섭씨, F는 화씨)
- C = (F-32) / 1.8
- F = (C*1.8) + 32

In [17]:
celsius = float(input("오늘의 온도를 섭씨로 입력하세요: "))
fahrenheit = (celsius * 1.8) + 32

if fahrenheit % 1 == 0:
    print("화씨 온도: {}°F".format(int(fahrenheit)))
else:
    print("화씨 온도: {:.2f}°F".format(fahrenheit))

오늘의 온도를 섭씨로 입력하세요: 34
화씨 온도: 93.20°F

In [20]:
# 6.섭씨온도로 입력받아 화씨 온도로 변환
c = int(input("섭씨 온도를 입력하세요"))
f = (c*1.8)+32
# print("입력하신 섭씨 {}도는 화씨온도 {:.2f}도입니다".format(c, f))
if f%1==0:
    print("입력하신 섭씨 {}도는 화씨온도 {:.0f}도입니다".format(c, f))
else:
    print("입력하신 섭씨 {}도는 화씨온도 {:.2f}도입니다".format(c, f))
# 섭씨 온도를 입력하세요2
# 입력하신 섭씨 2도는 화씨온도 35.60도입니다

섭씨 온도를 입력하세요23
입력하신 섭씨 23도는 화씨온도 73.40도입니다

[문제07] 다음 중 변수 선언으로 잘못된 것을 모두 고르시오?
(1) for
(2) 10th
(3) Student.name
(4) _1234

답: (1), (2), (3)
파이썬에서 변수 선언으로 잘못된 것은 (1), (2), (3) 입니다.
(1) for 잘못됨
이유: 파이썬의 예약어(keyword)
예약어는 변수명으로 사용 불가
python
for = 5  # SyntaxError: invalid syntax
(2) 10th 잘못됨
이유: 숫자로 시작하는 변수명
변수명은 반드시 문자나 언더스코어(_)로 시작해야 함
10th = "tenth"  # SyntaxError: invalid decimal literal
(3) Student.name 잘못됨
이유: 점(.)은 변수명에 사용 불가
점은 속성 접근 연산자로 예약되어 있음
Student.name = "John"  # 변수 선언이 아닌 속성 접근 시도
(4) _1234 올바름
언더스코어(_)로 시작하는 변수명은 허용됨
_1234 = "valid"  # 정상 작동
* 파이썬 변수명 규칙:
문자(a-z, A-Z) 또는 언더스코어(_)로 시작
이후에는 문자, 숫자(0-9), 언더스코어 사용 가능
예약어 사용 불가
특수문자(!, @, #, $, %, ., 등) 사용 불가
공백 사용 불가

[문제08] 다음의 코드의 실행결과는?
- text = "Seoul A001 - programming with python"
- print(text[:4]+text[-1]+text.split()[0])
- print(text[:4], text[-1], text.split()[0])

- 실행 결과:
- 첫 번째 print문: SeounSeoul
- 두 번째 print문: Seou n Seoul

- 첫 번째 print문:
- print(text[:4]+text[-1]+text.split()[0])
- text[:4] → "Seou" (처음 4글자)
- text[-1] → "n" (마지막 글자)
- text.split()[0] → "Seoul" (공백으로 나눈 첫 번째 단어)
- 연결: "Seou" + "n" + "Seoul" = "SeounSeoul"

- 두 번째 print문:
- print(text[:4], text[-1], text.split()[0])
- text[:4] → "Seou"
- text[-1] → "n"
- text.split()[0] → "Seoul"
- print()에 콤마로 구분된 여러 인자 → 공백으로 구분되어 출력
- 결과: "Seou n Seoul"

[문제09] 다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은?
- (1) 수식 8//2 결과 4
- (2) 수식 8/2  결과 4
- (3) 수식 8 **2 결과 64

답: (2)
파이썬 3.x 버전에서 잘못된 것은 (2)번

- Python 3.x에서
- print(8//2)  # 4 (정수)
- print(8/2)   # 4.0 (실수)
- print(8**2)  # 64 (정수)

(2) 8/2 → 4 틀림
- /는 실수 나눗셈(true division)
- Python 3.x에서는 항상 float 타입 반환
- 실제 결과: 4.0

[문제10] 아래 프로그램의 결과는?
- x = 5
- y = "John"
- print(x + y)

에러

[문제11] split()함수를 이용하여 str_의 값 중 ＂나라＂를 출력하는 프로그램을 완성하시오
- str_ = "우리 나라 대한 민국"

- str_.split()은 문자열을 공백 기준으로 나누어 리스트를 만듦
- 결과: ['우리', '나라', '대한', '민국']
- 인덱스 [1]로 두 번째 요소인 "나라"를 선택
- Python의 인덱스는 0부터 시작하므로 두 번째 요소는 인덱스 1

- str_ = "우리 나라 대한 민국"
- words = str_.split()
- print(words)  # ['우리', '나라', '대한', '민국']
- print(words[1])  # 나라