In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))


<b><font size="7" color="red">ch03.데이터 구조</font></b>
- 리스트[1,2], 튜플(1,2), 딕셔너리{"name":"홍","score":99}, 셋{10,20}

# 1. 리스트

## 1.1. 리스트 만들기
- 리스트는 []를 이용해서 만든다. 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- 그리고 리스트는 list()함수 이용도 가능
- 인덱스 : 각 요소의 위치, 인덱스는 0부터 시작, 맨마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [2]:
fruit = 'banana'
fruits = ['banana','apple','orange','grape']
fruits[0] = 'apple'
fruits

['apple', 'apple', 'orange', 'grape']

In [3]:
print(fruits)
print(fruits[3])

['apple', 'apple', 'orange', 'grape']
grape

In [4]:
fruits[0] = 'mango' # 인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [6]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x={}".format(x))
print(f"y={y}")
print(f"y={z}")

x=mango
y=apple
y=orange

In [ ]:
# range(from, to, by) : from부터 to 앞까지 by씩 증가하는 나열 가능한 자료
# 숫자를 순차적으로 사용할 수 있게
# from 생략시 0, by 생략시 1
range(10 # [0,1,2,3,4,5,6,7,8,9])

In [8]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [11]:
for i in [0,1,2]:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
fruits = ['mango', 'apple', 'orange']
print("0번째 과일은 " + fruits[0])
print("1번째 과일은 " + fruits[1])
print("2번째 과일은 " + fruits[2])

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [18]:
fruits = ['mango', 'apple', 'orange']
print("{}번째 과일은 {}".format(0, fruits[0]))
print("{}번째 과일은 {}".format(1, fruits[1]))
print("{}번째 과일은 {}".format(2, fruits[2]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [19]:
fruits = ['mango', 'apple', 'orange']
for idx in range(3):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))
# print("{}번째 과일은 {}".format(0, fruits[0]))
# print("{}번째 과일은 {}".format(1, fruits[1]))
# print("{}번째 과일은 {}".format(2, fruits[2]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [21]:
fruits = ['mango', 'apple', 'orange']
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [22]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [30]:
# for 변수이름 in range(len(3))
for i, fruit in enumerate(fruits): #[(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [29]:
for fruit in fruits:    #[('mango', 'apple', 'orange']:
    print(f"{fruit}입니다.")

mango입니다.
apple입니다.
orange입니다.

In [33]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, "2", [2,3], [4,5,6]]
numbers[2], numbers[4][1]

('2', 5)

In [53]:
# 2차원 리스트
numbers = [1,2,3,4,5]
numbers_2d = [[1,2,3,4,5],      # 0행
              [10,20,30,40,50], # 1행
              [1,3,5,7,9],      # 2행 
              [2,4,6,8,10]]     # 3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [54]:
numbers_2d[2][3]

7

In [41]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [55]:
for row in numbers_2d:
        for item in row:
            print(item, end='\t')
        print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [57]:
for i in range(len(numbers_2d)):   #i : 행
    for j in range(len(numbers_2d[i])): # j: 열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end="\t")
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [58]:
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(4, 5, 5, 5)

In [61]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0])) 
# 파이썬 enumerate() 함수는 리스트, 튜플, 문자열 등 순서가 있는 자료형(iterable)을 입력받아 각 요소에 대한 인덱스 값과 해당 요소를 짝지어 반환하는 내장 함수입니다. enumerate()를 사용하면 for 루프에서 각 요소의 순번(인덱스)과 값을 동시에 편리하게 얻을 수 있어, i 같은 인덱스 변수를 따로 관리할 필요 없이 더욱 파이썬스럽고 간결한 코드를 작성할 수 있습니다.

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [67]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end='\t')
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2 기본 정보 조회

In [69]:
numbers = [1, 12, 3, 4, 5]
numbers_2d = [[100, 0, 1],
             [9, 100, 100],
             [59, 100, 130]]

In [70]:
# numbers = [1, 12, 3, 4, 5]
# numbers_2d = [[100, 0, 1],
#             [9, 100, 100],
#             [59, 100, 130]]
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [73]:
# 최소값
# numbers = [1, 12, 3, 4, 5]
# numbers_2d = [[100, 0, 1],
#             [9, 100, 100],
#             [59, 100, 130]]
# 2차원 List의 최소/최대값 : 부분리스트 중 첫요소가 가장 작은 값/큰 값
min(numbers), min (numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [74]:
# List의 데이터가 문자일 경우 ascii 코드값으로 min과 max로 적용
fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [78]:
# 정렬하기
numbers = [1, 12, 3, 4, 5]
print("오름차순 정렬 :", sorted(numbers))
print("내림차순 정렬 :", sorted(numbers, reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지 않음 :", numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 : [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3 요소추가

'''
- + : 두 리스트 연결
- * : 리스트를 곱한 수만큼 반복
- append() : 요소 맨 뒤에 추가
- extend(리스트) : 리스트를 요소별로 맨 뒤에 추가
- insert(idx, 값) : idx번째 인덱스 위치에 값 추가
'''

In [81]:
numbers = [1, 2, 3]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [83]:
numbers = [1, 2, 3]
print(numbers*3)   # 곱한 수만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [89]:
numbers.append(4)   # 맨 뒤에 4추가
numbers

[1, 2, 3, 4, 4, 4, 4, 4, 4]

In [91]:
numbers.append([5,6,7])   # 맨 뒤에 [5,6,7]추가
numbers

[1, 2, 3, 4, 4, 4, 4, 4, 4, [5, 6, 7]]

In [92]:
numbers = [1, 2, 3]
numbers.extend([4,5,5])    # 맨 뒤에 요소별로 4, 5, 6 각각 추가
numbers

[1, 2, 3, 4, 5, 5]

In [94]:
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [95]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [97]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

In [99]:
numbers=[1,2,3,4,5]
numbers.insert(4, 'xx')
numbers

[1, 2, 3, 4, 'xx', 5]

In [100]:
numbers = [1,2,3,4,5]
numbers.insert(1, 'xx')    # 1번째 인덱스에 'xx' 추가
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4. 인덱싱과 요소 갯수
- List 변수[index] : 인덱스를 이용한 접근
- index(찾을 데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- 찾을 데이터 in list 변수 : 찾을 데이터가 리스트변수의 요소인지 여부
- count(찾을 데이터) : 리스트에서 해당 찾을 데이터의 갯수 반환

In [103]:
numbers = [1,2,3, [1,2,3], 1,2,3]
numbers.count(2), numbers.count([1,2,3])

(2, 1)

In [104]:
numbers.count(5)

0

In [105]:
print(2 in numbers)
print(5 in numbers)

True
False

In [9]:
numbers = [1,2,3, [1,2,3], 1,2,3]
if 5 in numbers:
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [114]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [12]:
def safe_index(lst, item):        # 내가 만들고자 하는 함수
    """첫 번째 매개 변수 lst에서 item요소가 있는 index를 반환.
    item 요소가 없으면 -1 반환"""  # shift tab tab 할 때 나오는 것 작성 중
    if item in lst:
        return lst.index(item)
    return -1

In [3]:
from lst import safe_index # Lst.py(모듈)
numbers = [1,2,3]
safe_index(numbers, 2), safe_index(numbers, 5)

(1, -1)

In [7]:
#def safe_index(lst, item):        # 내가 만들고자 하는 함수
#    """첫 번째 매개 변수 lst에서 item요소가 있는 index를 반환.
#    item 요소가 없으면 -1 반환"""  # shift tab tab 할 때 나오는 것 작성 중
#    if item in lst:
#    return -1

IndentationError: unexpected indent (476374051.py, line 3)

In [4]:
safe_index(numbers, 2)

1

## 1.5 원하는 요소 추출

1. 리스트 슬라이싱
- [from:to:step] from번째부터 to앞까지 step씩 증가하는 index값을 추출
     * from 생략시 처음, to 생략시 끝, step 생략시 1
- 인덱스의 범위를 벗어난 값도 에러나지 않음
- 인덱스는 음수 가능

2. **리스트 컴프리핸션** : 원하는 조건의 데이터 추출

In [8]:
numbers = [1,3,5,9,10,12,13,18,19,20]
print(numbers[::-1])    # 꺼꾸로 출력
print(numbers[::2])   # 짝수 index 값 출력
print(numbers[2:100])   # 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]

In [9]:
# 모든 데이터 추출
numbers = [1,3,5,9,10,12,13,18,19,20]
# for data in numbers:
#    print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [10]:
# 짝수 데이터 추출
for data in numbers:
    if data%2==0:
        print(data, end=" ")

10 12 18 20

In [ ]:
# 파이썬의 리스트 컴프리헨션(List Comprehension)은 반복문과 조건문을 사용하여 
# 새로운 리스트를 더 간결하고 효율적으로 만드는 문법입니다. 
# 여러 줄의 코드를 한 줄로 줄일 수 있어 코드의 가독성을 높이고, 
# 성능 면에서도 일반적인 for 루프보다 빠르다는 장점이 있습니다

In [ ]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end=" ")
[data for data in numbers if data%2==0]

In [26]:
# ex1. numbers에서 10이상인 요소만 추출
numbers = [1,3,5,9,10,12,13,18,19,20]
# for item in numbers:
#     if item >= 10:
# print(item, end=" ")
[item for item in numbers if item>=10]

[10, 12, 13, 18, 19, 20]

In [36]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange','apple','mango','Kiwi']
# for mtf_characters 
# if fruits >= 5:
#    print(fruits)
#else:
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [37]:
# ex2-1 fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [39]:
# ex3. 3이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [41]:
# ex4. 리스트 요소의 값의 2배를 추출
L = [1,2,3,4,5]
[l*2 for l in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
- 인덱스, 슬라이싱을 이용해서 수정

In [30]:
# 슬라이싱(step부분 미포함)
numbers[0:2] = ['xx','xx','xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 5, 9, 10, 12, 13, 18, 19, 20]

In [33]:
# 슬라이싱(step 부분 포함)
numbers = [0]*10
print('수정전 :', numbers)
numbers[0::2] = [9,9,9,9,9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [34]:
numbers[::2] = [1,1]

ValueError: attempt to assign sequence of size 2 to extended slice of size 5

## 1.7 요소삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제

In [46]:
numbers = [1,2,3,4,5]

print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)
print("1번째 삭제한 데이터 :", numbers.pop(1))
print("1번째 삭제한 numbers :", numbers)
print("데이터 1 삭제")
numbers.remove(1)
print("데이터 1 삭제 gn number :", numbers)
print("del numbers[1]")

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제한 numbers : [1, 3, 4]
데이터 1 삭제
데이터 1 삭제 gn number : [3, 4]
del numbers[1]

In [49]:
#numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item입니다")

해당 데이터는 없는 item입니다

## 1.8 정렬하기

In [50]:
numbers = [9,5,0,8,6]
print("numbers는 변경하지 않고, 정렬 결과:", sorted(numbers))
print("numbers : ", numbers)

numbers는 변경하지 않고, 정렬 결과: [0, 5, 6, 8, 9]
numbers :  [9, 5, 0, 8, 6]

In [52]:
numbers.sort()  # numbers 자체가 오름차순 정렬한 결과로 바꿈
print("numbers오름차순 : ", numbers)

numbers오름차순 :  [0, 5, 6, 8, 9]

In [53]:
numbers.sort(reverse=True)  # numbers 자체가 내림차순 정렬한 결과로 바꿈
print("numbers내림차순: ", numbers)

numbers내림차순:  [9, 8, 6, 5, 0]

In [54]:
numbers.reverse() # 리스트를 역순으로 변경
# numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [62]:
# 스칼라 데이터의 복제

i = 10
cp_i = i
print(f"원본i = {i}, 복사본cp_i = {cp_i} / 원본주소 = {id(i)}, 복사본주소 = {id(cp_i)}")
co_i = 99
print(f"원본i = {i}, 복사본cp_i = {cp_i} / 원본주소 = {id(i)}, 복사본주소 = {id(cp_i)}")

원본i = 10, 복사본cp_i = 10 / 원본주소 = 1558507880976, 복사본주소 = 1558507880976
원본i = 10, 복사본cp_i = 10 / 원본주소 = 1558507880976, 복사본주소 = 1558507880976

In [64]:
# 데이터 구조의 복제

numbers = [5, 6, 1, 9]
new_numbers = numbers # 할당
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))
new_numbers[0] = 99
print("원본 내용 :", numbers)
print("복제본 내용 :", new_numbers)
print("원본 내용 :", id(numbers))
print("복제본 내용 :", id(new_numbers))

원본 주소 : 1558623853952
복제본 주소 : 1558623853952
원본 내용 : [99, 6, 1, 9]
복제본 내용 : [99, 6, 1, 9]
원본 내용 : 1558623853952
복제본 내용 : 1558623853952

In [66]:
# 리스트 복제(깊은 복사)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) # 내림차순 정렬을 이렇게 하는게 속도가 빠르다
print("원본 :", numbers)
print("복제본 :", new_numbers)
print("원본 주소 :", id(numbers))
print("복제본 주소:", id(new_numbers))

원본 : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본 주소 : 1558623859776
복제본 주소: 1558624214016

In [65]:
# 원본과 정렬본이 다르지 않다.
numbers = [5, 6, 1, 9]
new_numbers = sorted(numbers)
print("원본 :", numbers)
print("정렬본 :", numbers)

원본 : [5, 6, 1, 9]
정렬본 : [5, 6, 1, 9]

In [67]:
city = ['서울','대전','대구','부산','하남','수원','제주']
temp = city.copy()
temp.sort()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [68]:
temp.clear()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : []

In [ ]:
# 2절 튜플
- 리스트([])와 유사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정이 블가흐므로, 튜플에서 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음