In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))


<b><font size="7" color="red">ch03.데이터 구조</font></b>
- 리스트[1,2], 튜플(1,2), 딕셔너리{"name":"홍","score":99}, 셋{10,20}

===
- 튜플
===
-- 튜플은 속도가 빨라 수정이 필요 없는 배열 형태의 데이터 타입
-- 튜플은 데이터를 수정할 수 없기 때문에 제공하는 함수가 많지 않음
-- 그래서 튜플은 append 혹은 sort 등을 당연히 사용할 수 없다.

# 1. 리스트

## 1.1. 리스트 만들기
- 리스트는 []를 이용해서 만든다. 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- 그리고 리스트는 list()함수 이용도 가능
- 인덱스 : 각 요소의 위치, 인덱스는 0부터 시작, 맨마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [2]:
fruit = 'banana'
fruits = ['banana','apple','orange','grape']
fruits[0] = 'apple'
fruits

['apple', 'apple', 'orange', 'grape']

In [3]:
print(fruits)
print(fruits[3])

['apple', 'apple', 'orange', 'grape']
grape

In [4]:
fruits[0] = 'mango' # 인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [6]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x={}".format(x))
print(f"y={y}")
print(f"y={z}")

x=mango
y=apple
y=orange

In [ ]:
# range(from, to, by) : from부터 to 앞까지 by씩 증가하는 나열 가능한 자료
# 숫자를 순차적으로 사용할 수 있게
# from 생략시 0, by 생략시 1
range(10 # [0,1,2,3,4,5,6,7,8,9])

In [8]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [11]:
for i in [0,1,2]:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [17]:
fruits = ['mango', 'apple', 'orange']
print("0번째 과일은 " + fruits[0])
print("1번째 과일은 " + fruits[1])
print("2번째 과일은 " + fruits[2])

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [18]:
fruits = ['mango', 'apple', 'orange']
print("{}번째 과일은 {}".format(0, fruits[0]))
print("{}번째 과일은 {}".format(1, fruits[1]))
print("{}번째 과일은 {}".format(2, fruits[2]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [19]:
fruits = ['mango', 'apple', 'orange']
for idx in range(3):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))
# print("{}번째 과일은 {}".format(0, fruits[0]))
# print("{}번째 과일은 {}".format(1, fruits[1]))
# print("{}번째 과일은 {}".format(2, fruits[2]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [21]:
fruits = ['mango', 'apple', 'orange']
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [22]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [30]:
# for 변수이름 in range(len(3))
for i, fruit in enumerate(fruits): #[(0, 'mango'), (1, 'apple'), (2, 'orange')]:
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [29]:
for fruit in fruits:    #[('mango', 'apple', 'orange']:
    print(f"{fruit}입니다.")

mango입니다.
apple입니다.
orange입니다.

In [33]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, "2", [2,3], [4,5,6]]
numbers[2], numbers[4][1]

('2', 5)

In [53]:
# 2차원 리스트
numbers = [1,2,3,4,5]
numbers_2d = [[1,2,3,4,5],      # 0행
              [10,20,30,40,50], # 1행
              [1,3,5,7,9],      # 2행 
              [2,4,6,8,10]]     # 3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [54]:
numbers_2d[2][3]

7

In [41]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [55]:
for row in numbers_2d:
        for item in row:
            print(item, end='\t')
        print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [57]:
for i in range(len(numbers_2d)):   #i : 행
    for j in range(len(numbers_2d[i])): # j: 열
        print(f"{i}행{j}열 : {numbers_2d[i][j]}", end="\t")
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

In [58]:
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(4, 5, 5, 5)

In [61]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0])) 
# 파이썬 enumerate() 함수는 리스트, 튜플, 문자열 등 순서가 있는 자료형(iterable)을 입력받아 각 요소에 대한 인덱스 값과 해당 요소를 짝지어 반환하는 내장 함수입니다. enumerate()를 사용하면 for 루프에서 각 요소의 순번(인덱스)과 값을 동시에 편리하게 얻을 수 있어, i 같은 인덱스 변수를 따로 관리할 필요 없이 더욱 파이썬스럽고 간결한 코드를 작성할 수 있습니다.

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [67]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{}열 : {}".format(i, j, numbers_2d[i][j]), end='\t')
    print()

0행0열 : 1	0행1열 : 2	0행2열 : 3	0행3열 : 4	0행4열 : 5
1행0열 : 10	1행1열 : 20	1행2열 : 30	1행3열 : 40	1행4열 : 50
2행0열 : 1	2행1열 : 3	2행2열 : 5	2행3열 : 7	2행4열 : 9
3행0열 : 2	3행1열 : 4	3행2열 : 6	3행3열 : 8	3행4열 : 10

## 1.2 기본 정보 조회

In [69]:
numbers = [1, 12, 3, 4, 5]
numbers_2d = [[100, 0, 1],
             [9, 100, 100],
             [59, 100, 130]]

In [70]:
# numbers = [1, 12, 3, 4, 5]
# numbers_2d = [[100, 0, 1],
#             [9, 100, 100],
#             [59, 100, 130]]
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [73]:
# 최소값
# numbers = [1, 12, 3, 4, 5]
# numbers_2d = [[100, 0, 1],
#             [9, 100, 100],
#             [59, 100, 130]]
# 2차원 List의 최소/최대값 : 부분리스트 중 첫요소가 가장 작은 값/큰 값
min(numbers), min (numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [74]:
# List의 데이터가 문자일 경우 ascii 코드값으로 min과 max로 적용
fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [78]:
# 정렬하기
numbers = [1, 12, 3, 4, 5]
print("오름차순 정렬 :", sorted(numbers))
print("내림차순 정렬 :", sorted(numbers, reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지 않음 :", numbers)

오름차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 : [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3 요소추가

'''
- + : 두 리스트 연결
- * : 리스트를 곱한 수만큼 반복
- append() : 요소 맨 뒤에 추가
- extend(리스트) : 리스트를 요소별로 맨 뒤에 추가
- insert(idx, 값) : idx번째 인덱스 위치에 값 추가
'''

In [81]:
numbers = [1, 2, 3]
numbers = numbers + numbers # 리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [83]:
numbers = [1, 2, 3]
print(numbers*3)   # 곱한 수만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [89]:
numbers.append(4)   # 맨 뒤에 4추가
numbers

[1, 2, 3, 4, 4, 4, 4, 4, 4]

In [91]:
numbers.append([5,6,7])   # 맨 뒤에 [5,6,7]추가
numbers

[1, 2, 3, 4, 4, 4, 4, 4, 4, [5, 6, 7]]

In [92]:
numbers = [1, 2, 3]
numbers.extend([4,5,5])    # 맨 뒤에 요소별로 4, 5, 6 각각 추가
numbers

[1, 2, 3, 4, 5, 5]

In [94]:
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [95]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [97]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

In [99]:
numbers=[1,2,3,4,5]
numbers.insert(4, 'xx')
numbers

[1, 2, 3, 4, 'xx', 5]

In [100]:
numbers = [1,2,3,4,5]
numbers.insert(1, 'xx')    # 1번째 인덱스에 'xx' 추가
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4. 인덱싱과 요소 갯수
- List 변수[index] : 인덱스를 이용한 접근
- index(찾을 데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- 찾을 데이터 in list 변수 : 찾을 데이터가 리스트변수의 요소인지 여부
- count(찾을 데이터) : 리스트에서 해당 찾을 데이터의 갯수 반환

In [103]:
numbers = [1,2,3, [1,2,3], 1,2,3]
numbers.count(2), numbers.count([1,2,3])

(2, 1)

In [104]:
numbers.count(5)

0

In [105]:
print(2 in numbers)
print(5 in numbers)

True
False

In [9]:
numbers = [1,2,3, [1,2,3], 1,2,3]
if 5 in numbers:
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [114]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [83]:
def safe_index(lst, item):        # 내가 만들고자 하는 함수
    """첫 번째 매개 변수 lst에서 item요소가 있는 index를 반환.
    item 요소가 없으면 -1 반환"""  # shift tab tab 할 때 나오는 것 작성 중
    if item in lst:
        return lst.index(item)
    return -1

In [3]:
from lst import safe_index # Lst.py(모듈)
numbers = [1,2,3]
safe_index(numbers, 2), safe_index(numbers, 5)

(1, -1)

In [84]:
#def safe_index(lst, item):        # 내가 만들고자 하는 함수
#    """첫 번째 매개 변수 lst에서 item요소가 있는 index를 반환.
#    item 요소가 없으면 -1 반환"""  # shift tab tab 할 때 나오는 것 작성 중
#    if item in lst:
#    return -1

In [4]:
safe_index(numbers, 2)

1

## 1.5 원하는 요소 추출

1. 리스트 슬라이싱
- [from:to:step] from번째부터 to앞까지 step씩 증가하는 index값을 추출
     * from 생략시 처음, to 생략시 끝, step 생략시 1
- 인덱스의 범위를 벗어난 값도 에러나지 않음
- 인덱스는 음수 가능

2. **리스트 컴프리핸션** : 원하는 조건의 데이터 추출

In [8]:
numbers = [1,3,5,9,10,12,13,18,19,20]
print(numbers[::-1])    # 꺼꾸로 출력
print(numbers[::2])   # 짝수 index 값 출력
print(numbers[2:100])   # 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]

In [9]:
# 모든 데이터 추출
numbers = [1,3,5,9,10,12,13,18,19,20]
# for data in numbers:
#    print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [10]:
# 짝수 데이터 추출
for data in numbers:
    if data%2==0:
        print(data, end=" ")

10 12 18 20

In [ ]:
# 파이썬의 리스트 컴프리헨션(List Comprehension)은 반복문과 조건문을 사용하여 
# 새로운 리스트를 더 간결하고 효율적으로 만드는 문법입니다. 
# 여러 줄의 코드를 한 줄로 줄일 수 있어 코드의 가독성을 높이고, 
# 성능 면에서도 일반적인 for 루프보다 빠르다는 장점이 있습니다

In [ ]:
# 짝수 데이터 추출
# for data in numbers:
#     if data%2==0:
#         print(data, end=" ")
[data for data in numbers if data%2==0]

In [26]:
# ex1. numbers에서 10이상인 요소만 추출
numbers = [1,3,5,9,10,12,13,18,19,20]
# for item in numbers:
#     if item >= 10:
# print(item, end=" ")
[item for item in numbers if item>=10]

[10, 12, 13, 18, 19, 20]

In [36]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange','apple','mango','Kiwi']
# for mtf_characters 
# if fruits >= 5:
#    print(fruits)
#else:
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [37]:
# ex2-1 fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

[6, 5, 5, 4]

In [39]:
# ex3. 3이상인 요소들의 제곱을 추출
L = [1,2,3,4,5]
[l**2 for l in L if l>=3]

[9, 16, 25]

In [41]:
# ex4. 리스트 요소의 값의 2배를 추출
L = [1,2,3,4,5]
[l*2 for l in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
- 인덱스, 슬라이싱을 이용해서 수정

In [30]:
# 슬라이싱(step부분 미포함)
numbers[0:2] = ['xx','xx','xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 5, 9, 10, 12, 13, 18, 19, 20]

In [33]:
# 슬라이싱(step 부분 포함)
numbers = [0]*10
print('수정전 :', numbers)
numbers[0::2] = [9,9,9,9,9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

In [34]:
numbers[::2] = [1,1]

ValueError: attempt to assign sequence of size 2 to extended slice of size 5

## 1.7 요소삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제

In [46]:
numbers = [1,2,3,4,5]

print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)
print("1번째 삭제한 데이터 :", numbers.pop(1))
print("1번째 삭제한 numbers :", numbers)
print("데이터 1 삭제")
numbers.remove(1)
print("데이터 1 삭제 gn number :", numbers)
print("del numbers[1]")

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제한 numbers : [1, 3, 4]
데이터 1 삭제
데이터 1 삭제 gn number : [3, 4]
del numbers[1]

In [49]:
#numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item입니다")

해당 데이터는 없는 item입니다

## 1.8 정렬하기

In [50]:
numbers = [9,5,0,8,6]
print("numbers는 변경하지 않고, 정렬 결과:", sorted(numbers))
print("numbers : ", numbers)

numbers는 변경하지 않고, 정렬 결과: [0, 5, 6, 8, 9]
numbers :  [9, 5, 0, 8, 6]

In [52]:
numbers.sort()  # numbers 자체가 오름차순 정렬한 결과로 바꿈
print("numbers오름차순 : ", numbers)

numbers오름차순 :  [0, 5, 6, 8, 9]

In [53]:
numbers.sort(reverse=True)  # numbers 자체가 내림차순 정렬한 결과로 바꿈
print("numbers내림차순: ", numbers)

numbers내림차순:  [9, 8, 6, 5, 0]

In [54]:
numbers.reverse() # 리스트를 역순으로 변경
# numbers = numbers[::-1]
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [62]:
# 스칼라 데이터의 복제

i = 10
cp_i = i
print(f"원본i = {i}, 복사본cp_i = {cp_i} / 원본주소 = {id(i)}, 복사본주소 = {id(cp_i)}")
co_i = 99
print(f"원본i = {i}, 복사본cp_i = {cp_i} / 원본주소 = {id(i)}, 복사본주소 = {id(cp_i)}")

원본i = 10, 복사본cp_i = 10 / 원본주소 = 1558507880976, 복사본주소 = 1558507880976
원본i = 10, 복사본cp_i = 10 / 원본주소 = 1558507880976, 복사본주소 = 1558507880976

In [64]:
# 데이터 구조의 복제

numbers = [5, 6, 1, 9]
new_numbers = numbers # 할당
print('원본 주소 :', id(numbers))
print('복제본 주소 :', id(new_numbers))
new_numbers[0] = 99
print("원본 내용 :", numbers)
print("복제본 내용 :", new_numbers)
print("원본 내용 :", id(numbers))
print("복제본 내용 :", id(new_numbers))

원본 주소 : 1558623853952
복제본 주소 : 1558623853952
원본 내용 : [99, 6, 1, 9]
복제본 내용 : [99, 6, 1, 9]
원본 내용 : 1558623853952
복제본 내용 : 1558623853952

In [66]:
# 리스트 복제(깊은 복사)
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제(깊은 복사)
new_numbers.sort(reverse=True) # 내림차순 정렬을 이렇게 하는게 속도가 빠르다
print("원본 :", numbers)
print("복제본 :", new_numbers)
print("원본 주소 :", id(numbers))
print("복제본 주소:", id(new_numbers))

원본 : [5, 6, 1, 9]
복제본 : [9, 6, 5, 1]
원본 주소 : 1558623859776
복제본 주소: 1558624214016

In [65]:
# 원본과 정렬본이 다르지 않다.
numbers = [5, 6, 1, 9]
new_numbers = sorted(numbers)
print("원본 :", numbers)
print("정렬본 :", numbers)

원본 : [5, 6, 1, 9]
정렬본 : [5, 6, 1, 9]

In [76]:
city = ['서울','대전','대구','부산','하남','수원','제주']
temp = city.copy()
temp.sort()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

In [77]:
city = ['서울','대전','대구','부산','하남','수원','제주']
temp = city.copy()
city.sort()
print("정렬 후 :", city)
city = temp
print("원본 교체 :", city)

정렬 후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']
원본 교체 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']

In [68]:
temp.clear()
print("정렬전 :", city)
print("정렬후 :", temp)

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬후 : []

# 2절 튜플
- 리스트([])와 유사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정이 블가흐므로, 튜플에서 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음

In [78]:
city = ['서울','대전','대구','부산','하남','수원','제주']
"-".join(city)

'서울-대전-대구-부산-하남-수원-제주'

In [80]:
city = ('서울','대전','대구','부산','하남','수원','제주')
"-".join(city)

'서울-대전-대구-부산-하남-수원-제주'

In [86]:
from lst import safe_index
safe_index(city, '대전')

1

In [2]:
numbers = (1,2,3,2)
numbers.index(2, 2)   # index(찾을 데이터, 찾기 시작할 index=0)

3

In [ ]:
numbers.index(4)      # 없을 거 찾으면 에러가 난다.

In [ ]:
# 리스트, 투퓰, 딕션어리, 셋
# 람다식, 리스트 컴플리에이션
# score = 99 (스칼라 데이터)
# scores = [99.88.77.100.89]
# sc = (90,80,70,70)
# st = {'name':'홍길동','score':100,'add':'서울','학력':3 }
# 람다식, 리스트 컴플리에이션

In [33]:
numbers = (1,4,3,2)
if 4 in numbers [2:]:
    numbers.index(4, 2)   # index(찾을 데이터, 찾기 시작할 index=0)
else:
    print("데이터가 없습니다")

데이터가 없습니다

In [46]:
def safe_index(lst, item, srart=0):
    """
    첫 번째 매개변수 lst : 리스트, 튜플
    두 번째 매개변수 item: 리스트나 튜플에서 찾을 데이터
    세 번째 매개변수 start : 몇번째 index부터 찾을지 index 수 (기본값:0)
    
    """
    return lst.index(item, srart) if item in lst[srart:] else -1 
    
#     if item in lst[srart:]:
#         return lst.idex(item, start)  # srart번째부터 item이 있는 index를 반환
#     else:
#         return -1

In [47]:
safe_index(numbers, 2,1)

3

In [16]:
# 위의 if문을 조건식을 이용하여 한줄 코드
x, y = 10, 20
def diff(x, y):
    if x>y:
        return x-y
    else:
        return y-x
diff(10, 20)

10

In [21]:
# 위의 if문을 조건식을 이용하여 한줄 코드
def diff(x, y):
    return x-y if x>y else y-x # if문이 참일때 취할 값. if 조건 else if 문 거짓일 때 값.
    #    if x>y:
#        return x-y
#    else:
#        return y-x
diff(10, 20)

10

In [48]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오
numbers = (11, 2, 3, 4, 5, 6)
tuple(num**2 for num in numbers if num%2==0)

(4, 16, 36)

# 3절 딕셔너리
- {}를 이용해서 키(key)-값(value)의 쌍으로 구성된 자료구조.
- 키는 유일한 값(중복 허용 안함). 키에 list는 사용 불가. 키에 tuple은 사용 가능.
- 값은 중복 가능. 모든 데이터 타입 가능. 
- 인덱스를 이용한 참조는 지원 안 함.

## 딕셔너리 item수정

In [ ]:
dic = {'name':'홍길동', 1:22, (1, 2):[1, 2]}
print(type(dic))
print(dic)

In [51]:
len(dic) # 데이터 요소의 갯수

3

In [53]:
my_favorite = {'fruit':'apple', 'number':12 , "sport":'yoga'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

In [59]:
# 변수[키] / 변수.get(키)
print(my_favorite['number'])
print(my_favorite.get('number'))

12
12

In [56]:
# print(my_favorite['people'])   # 키목록에 업ㅎㅅ는 데이터를 참조시 에러
print(my_favorite.get('people')) # 없는 키를 get함수로 참조시 non
print(my_favorite.get('people', '-')) # 없는 키를 get함수로 참조시 '-'


# get메서드
# get() 메서드는 딕셔너리에서 주어진 키(key)에 해당하는 값을 반환하는 메서드입니다.
# get() 메서드는 두 개의 파라미터를 가질 수 있습니다. 
# 첫 번째 파라미터는 찾고자하는 키(key)이고, 두 번째 파라미터는 기본값(default value)입니다.
# get() 메서드는 다음과 같은 동작을 수행합니다:
# 만약 주어진 키(key)가 딕셔너리에 존재한다면, 해당 키에 대한 값을 반환합니다.
# 만약 주어진 키(key)가 딕셔너리에 존재하지 않는다면, 기본값(default value)을 반환합니다. 
# 만약 기본값이 지정되지 않았다면, None을 반환합니다.
# 예를 들어, my_dict = {'apple': 1, 'banana': 2}라는 딕셔너리가 있다고 가정해봅시다. 
# 다음은 get() 메서드를 사용하여 딕셔너리의 값을 얻는 예시입니다.

None

In [68]:
## 딕셔너리 item 수정, 추가, 삭제
my_favorite = {'fruit':'apple', 'number':12 , "sport":'yoga'}

# 한 item씩 추가
my_favorite['people'] = '홍길동'
my_favorite['subject'] = 'AI'
print('people 추가후 :', my_favorite)

# 여러 item을 한꺼번에 추가
my_favorite.update({'subject':'수학', 'major':"AI"})

# 한 item씩 수정
my_favorite['fruit'] = 'mango'
my_favorite['number'] = -9
print('하나씩 수정 후 :', my_favorite)

# 여러 item을 한번 수정
# my_favorite.update({'fruit':'kiwi', 'number':-99})
my_favorite.update(fruit='kiwi', number=-99)
print("한꺼번에 수정 후 :", my_favorite)

# item 제거
del my_favorite['subject']    # subject item 제거
if 'subject' in my_favorite:
    del my_favorite['subject']
else:
    print('subject 키가 존재하지 않습니다')
print("del 제거 후 :", my_favorite)
# item 제거(2)
print('제거한 데이터 :', my_favorite.pop('major'))   #major키 값을 반환하고 제거
if 'major' in my_favorite:
    print('제거한 데이터 :', my_favorite.pop('major'))
else:
    print('major 키가 존재하지 않습니다')
print(my_favorite)

people 추가후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': 'AI'}
하나씩 수정 후 : {'fruit': 'mango', 'number': -9, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
한꺼번에 수정 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
subject 키가 존재하지 않습니다
del 제거 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'major': 'AI'}
제거한 데이터 : AI
major 키가 존재하지 않습니다
{'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동'}

## 출력하기

In [71]:
# for문을 이용한 튜플 출력
my_tuple = ('홍길동', 30, '010-9999-9999')

In [ ]:
# my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [75]:
for data in my_tuple:
    print(data, end='\t')
print() # 개행
for idx in range(len(my_tuple)):
    print(f"{idx}번째 : {my_tuple[idx]}", end="\t")
print()   #개행
for idx, data in enumerate(my_tuple):
    print(f"{idx}번째 : {data}", end="\t")

홍길동	30	010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999
0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [77]:
my_dic ={'name':'홍길동', 'age':30, 'tel':'010-999-999'}

In [94]:
for data in my_dic: # 비추
    print("{} : {}".format(key, my_dic[key]), end="\t")

tel : 010-999-999	tel : 010-999-999	tel : 010-999-999

In [93]:
my_dic.values()    # 값들 목록

dict_values(['홍길동', 30, '010-999-999'])

In [96]:
my_dic.items()    # 값들 목록

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-999-999')])

In [97]:
for key, value in my_dic.items():
    print("{}:{}".format(key, value), end="\t")

name:홍길동	age:30	tel:010-999-999

In [98]:
enumerate(my_dic.items())

In [99]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-999-999'))]

In [101]:
for no, (key, value) in enumerate(my_dic.items()):
    print("{}.{} : {}".format(no+1, key, value))

1.name : 홍길동
2.age : 30
3.tel : 010-999-999

## in연산자

In [104]:
# tuple, list
t = (10, 20, 30)
30 in t # list, tuple, set에서의 in연산자 : 요소(데이터, item)가 있는 여부 반환

True

In [105]:
# dictionary
dic = {'name':'홍길동', 'age':30}
'홍길동' in dic # dictionary에서의 in연산자 : key가 있는지 여부 반환

False

## 복제하기

In [106]:
# 할당
my_favorite = {'fruit':'apple','number':12}
new_favorite = my_favorite
print('my_favorite 주소 :', id(my_favorite))
print('new_favorite 주소 :', id(new_favorite))

my_favorite 주소 : 2861177120128
new_favorite 주소 : 2861177120128

In [107]:
new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

원본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}
수정본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

In [108]:
# 복제(깊은 복사)
my_favorite = {'fruit':'apple','number':12}
new_favorite = my_favorite.copy()
print('my_favorite 주소 :', id(my_favorite))
print('new_favorite 주소 :', id(new_favorite))
new_favorite['fruit'] = '과일은 다 좋아'
new_favorite['people'] = '홍길동'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

my_favorite 주소 : 2861177641024
new_favorite 주소 : 2861177637888
원본 : {'fruit': 'apple', 'number': 12}
수정본 : {'fruit': '과일은 다 좋아', 'number': 12, 'people': '홍길동'}

# 4절 셋
- 중복을 허용하지 않는 집합(순서x)
- {}나 set()함수를 이용해서 셋 생성
- ex. set([1, 2, 1]), set({'name' : '홍길동'})
- 추가 : add(), update()
- 삭제 : remove
- 집합연산자 : &교집합, |합집합, -차집합

In [ ]:
st = {'name':'홍길동','age':30} <= 딕셔너리
se = {'홍길동', 30}   <= 셋

In [109]:
fruits = {'banana', 'orange', 'apple', 'apple'}
fruits

{'apple', 'banana', 'orange'}

In [110]:
s1 = set([1, 2, 3, 1, 1, 1, 1])
s1

{1, 2, 3}

In [111]:
s1 = set((1, 2, 3, 4, 5, 6, 7, 8, 9, 1))
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [112]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용
s2 = set({'name':'홍길동', 'age':30, 'address':'서울'})
s2

{'address', 'age', 'name'}

## 추가하기
- add() : 오직 스칼라 데이터 혹은 튜플만 넣을 수 있다. 기본자료형, 튜플 데이터 하나 추가. list, dic, set 유형은 add()함수 사용 불가
- update() : 리스트, 튜플, 딕셔너리, 셋요소를 하나씩 따로 추가. dict사용시 key만 추가
cf list의 extend()

In [113]:
s = {1, 2, 3}
s.add((6,7))
s.add(4)
s.add('오')
print("add() 후 :", s)

add() 후 : {1, 2, 3, 4, '오', (6, 7)}

In [122]:
# 0이 set에 있는 상태에서 False 추가
s = {False, 2, 3}
s.add(0)
print("0 add 후 :", s)

0 add 후 : {False, 2, 3}

In [126]:
s = {1, 2, 3}
s.update({4, 5, 6})
s.update({'name' : '홍', 'age':20})
print('update() 후 :', s)

update() 후 : {1, 2, 3, 4, 5, 6, 'age', 'name'}

## 삭제하기

In [121]:
s = {1, 2, 3, 1, 1}
s.remove(2)
s

{1, 3}

In [ ]:
# 없는 요소를 삭제할 경우 예러
if 5 in s:
    s.re

In [ ]:
## 집합연산자
- &(교집합), |(합집합), -(차집합)

In [131]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print("s1 =", s1)
print("s2 =", s2)
print("s1&s2 =", s1&s2)
print('s2-s1=', s2-s1)

s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s1&s2 = {3, 4, 5}
s2-s1= {6, 7}

In [130]:
names = {'길동','길숙','길자'}
for name in names:
    print(name)

길숙
길동
길자

# 5절 enumerate
- 반복자. 반복문을 처리할 때 사용할 순서 객체를 생성하는 함수
- 리스트, 튜플, 딕셔너리, 셋을 for문에 사용시

In [132]:
list(enumerate(names))

[(0, '길숙'), (1, '길동'), (2, '길자')]

In [133]:
for no, name in enumerate(names):
    print("{}.{}".format(no+1, name))

1.길숙
2.길동
3.길자

In [137]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-877']
adds = ['서울', '판교', '하남']

In [155]:
for idx in range(len(names)):
    print("{}님의 연락처는 {}이고, {} 살아요".format(idx+1, names[idx], tels[idx], adds[idx]))

1님의 연락처는 길동이고, 02-999-9999 살아요
2님의 연락처는 길자이고, 02-888-8888 살아요
3님의 연락처는 길숙이고, 02-777-877 살아요

In [156]:
list(zip(names, tels, adds))

[('길동', '02-999-9999', '서울'),
 ('길자', '02-888-8888', '판교'),
 ('길숙', '02-777-877', '하남')]

In [158]:
list(enumerate(zip(names, tels, adds)))

[(0, ('길동', '02-999-9999', '서울')),
 (1, ('길자', '02-888-8888', '판교')),
 (2, ('길숙', '02-777-877', '하남'))]

In [160]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
#    print(f"{idx}. {name}님의 연락처는 {}이고, {} 살아요")
    print("{}. {}님의 연락처는 {}이고, {} 살아요".format(idx, name, tel, add))

0. 길동님의 연락처는 02-999-9999이고, 서울 살아요
1. 길자님의 연락처는 02-888-8888이고, 판교 살아요
2. 길숙님의 연락처는 02-777-877이고, 하남 살아요

In [168]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-877']
adds = ['서울', '판교', '하남']
members = [] # 딕셔너리 리스트
for name, tel, add in zip(names, tels, adds):
    member = {'name': name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'name': '길숙', 'tel': '02-777-877', 'add': '하남'}]

In [165]:
list(enumerate(zip(names, tels, adds)))

[(0, ('길동', '02-999-9999', '서울')),
 (1, ('길자', '02-888-8888', '판교')),
 (2, ('길숙', '02-777-877', '하남'))]

In [169]:
#names = ['길동', '길자', '길숙']
#tels = ['02-999-9999', '02-888-8888', '02-777-877']
#adds = ['서울', '판교', '하남']
members = [] # 딕셔너리 리스트
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    member = {'rank':idx+1, 'name': name, 'tel':tel, 'add':add}
    members.append(member)
members

[{'rank': 1, 'name': '길동', 'tel': '02-999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길자', 'tel': '02-888-8888', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-777-877', 'add': '하남'}]

In [ ]:
names = ['길동', '길자', '길숙']
tels = ['02-999-9999', '02-888-8888', '02-777-877']
adds = ['서울', '판교', '하남']
members = [] # 딕셔너리 리스트
for name, tel, add in zip(names, tels, adds):
    member = {'name': name, 'tel':tel, 'add':add}
    members.append(member)
members

In [ ]:
[('rank', 'namne': '길동', 'tel': '02-999-9999', 'add': '서울')),
 ('rank', 'namne': '길자', 'tel': '02-888-8888', 'add': '판교')),
 ('rank', 'namne': '길숙', 'tel': '02-777-877', 'add': '하남'))]

# 6절 연습문제
## 실습형 연습문제

### 1. 숫자 100을 맨 뒤에 추가
- numbers = [1,2,3,4,5,6,7,8,9,10]

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

### 2. data 리스트를 numbers 리스트 맨 뒤에 추가
- numbers = [1,2,3,4,5,6,7,8,9,10]
- data = [200, 300, 400, 500]

In [3]:
data = [200, 300, 400, 500]
numbers.extend(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500, 200, 300, 400, 500]

### 3. 처음 다섯 개 숫자만 출력

In [5]:
print("3. 처음 다섯 개 숫자:", numbers[:5])

3. 처음 다섯 개 숫자: [1, 2, 3, 4, 5]

### 4. 리스트에서 짝수 번째 데이터만 출력

In [6]:
print("4. 짝수 번째 데이터:", numbers[1::2])

4. 짝수 번째 데이터: [2, 4, 6, 8, 10, 200, 400, 200, 400]

### 5. 짝수 번째 데이터를 모두 0으로 바꾸기

In [8]:
numbers[1::2] = [0] * len(numbers[1::2])
numbers

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 100, 0, 300, 0, 500, 0, 300, 0, 500]

In [3]:
numbers = list(range(10))
numbers[::2] = [0] * len(numbers[::2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

### 6. 데이터를 역순으로 나열

In [9]:
numbers.reverse()
print("6. 역순으로 나열:", numbers)

6. 역순으로 나열: [500, 0, 300, 0, 500, 0, 300, 0, 100, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1]

member_info = {"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}

### 7. address 값을 출력하세요

In [13]:
member_info = {"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}
print("문제07. address 값:", member_info["address"])
print("초기 딕셔너리:", member_info)
print()

문제07. address 값: 서울시 마포구
초기 딕셔너리: {'name': '홍길동', 'age': 20, 'address': '서울시 마포구', 'score': 90}

### 8. score를 출력하고 member_info 딕셔너리에서 삭제하세요

In [16]:
print("문제08. score 값:", member_info["score"])
del member_info["score"]
print("        score 삭제 후:", member_info)

문제08. score 값: 90
        score 삭제 후: {'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

### 9. address를 "서울시 서대문구"로 변경하세요

In [19]:
member_info["address"] = "서울시 서대문구"
print("문제09. address 변경 후:", member_info)

문제09. address 변경 후: {'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

### 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요

In [20]:
values_list = list(member_info.values())
print("문제10. 딕셔너리 값들을 리스트로:", values_list)

문제10. 딕셔너리 값들을 리스트로: ['홍길동', 20, '서울시 서대문구']

## 서술형 연습문제
### 1. 다음 코드를 실행했을 때 출력되는 것은 
L1 = (“orange”,”apple”,”banana”,”kiwi") 
new_list = [(i for i in L1 if len i )>5] 
print(new_list)

In [21]:
L1 = ("orange","apple","banana","kiwi")
new_list = [i for i in L1 if len(i) > 5]
print(new_list)

['orange', 'banana']

### 2. 다음 코드와 실행결과가 잘못 짝지어진 것은?

① print(list(range(10))) → [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] ✓ (올바름)
② print(list(range(5,10))) → [5, 6, 7, 8, 9] ✓ (올바름)
③ print(list(range(10,0,1))) → [9, 8, 7, 6, 5, 4, 3, 2, 1, 0] ✗ (잘못됨)
④ print(list(range(10,20,2))) → [10, 12, 14, 16, 18] ✓ (올바름)

### 3. 다음 구문에 의해 출력되는 것은? 
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ] 
len (numbers_2d[3]

답 : 1. 
-numbers_2d[3]은 [2,] (네 번째 리스트)
len([2,])는 1

### 4. 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은? 
numbers = [1,2,3,4,5] numbers.__([10,20,30,40,50]) numbers 결과 : [1,2,3,4,5,10,20,30,40,50]

In [ ]:
빈칸에 들어갈 함수 이름은 **extend**입니다.

### 5. 다음 구문을 실행할 때 결과는 ?
numbers = list(range(10))
numbers[ : : 2]= [0] * len(numbers[ : :2]
print(numbers)"

numbers = list(range(10))
numbers[::2] = [0] * len(numbers[::2])
print(numbers)
이 코드를 실행하면:

numbers = list(range(10)) → [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2]는 [0, 2, 4, 6, 8] (짝수 인덱스 요소들)
len(numbers[::2])는 5
[0] * 5는 [0, 0, 0, 0, 0]
numbers[::2] = [0, 0, 0, 0, 0]로 짝수 인덱스 위치의 값들을 모두 0으로 변경
결과: [0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

### 6. 다음 구문을 실행할 때 결과는?
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[ : : 2]= numbers[5:]
print(numbers)

In [ ]:
이 코드를 실행하면 결과는 다음과 같습니다:
[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

### 7. 다음 구문을 실행할 때 결과는?
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[ : : 2]= numbers[:5]
print(numbers)

In [ ]:
이 코드를 실행하면 다음과 같은 결과가 출력됩니다:

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

단계별 분석:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2]는 [0, 2, 4, 6, 8] (인덱스 0, 2, 4, 6, 8의 요소들)
numbers[:5]는 [0, 1, 2, 3, 4] (처음 5개 요소)
numbers[::2] = numbers[:5]는 짝수 인덱스 위치의 값들을 [0, 1, 2, 3, 4]로 차례대로 교체:
인덱스 0: 0 → 0
인덱스 2: 2 → 1
인덱스 4: 4 → 2
인덱스 6: 6 → 3
인덱스 8: 8 → 4
최종 결과: [0, 1, 1, 3, 2, 5, 3, 7, 4, 9]
홀수 인덱스의 값들(1, 3, 5, 7, 9)은 그대로 유지되고, 짝수 인덱스의 값들만 변경됩니다.

### 8. 다음 데이터에서 10 을 출력할 수 없는 구문은?

In [ ]:
① my_dic[0] → KeyError 발생

딕셔너리의 키는 "a", "b", "c"이고, 숫자 0은 키로 존재하지 않음
② my_dic['a'] → 10 출력 ✓

키 'a'의 값인 10을 반환
③ list(my_dic.items())[0][1] → 10 출력 ✓

my_dic.items()는 dict_items([('a', 10), ('b', 20), ('c', 30)])
list(...)로 변환하면 [('a', 10), ('b', 20), ('c', 30)]
[0]은 첫 번째 튜플 ('a', 10)
[1]은 튜플의 두 번째 요소인 10
④ list(my_dic.values())[0] → 10 출력 ✓

my_dic.values()는 dict_values([10, 20, 30])
list(...)로 변환하면 [10, 20, 30]
[0]은 첫 번째 값인 10
⑤ my_dic.get('a') → 10 출력 ✓

get() 메서드로 키 'a'의 값인 10을 반환
따라서 정답은 ①번입니다.

### 9. 다음 프로그램의 결과를 출력하시오? 
fruits = [ ‘apple’, ‘banana’, ‘orange’] 
x, y, z = fruits 
print(x) 
print(y) 
print(z)

In [ ]:
이 프로그램의 결과는 다음과 같습니다:
apple
banana
orange
설명:

fruits = ['apple', 'banana', 'orange']로 리스트를 생성
x, y, z = fruits는 언패킹(unpacking) 또는 **다중 할당(multiple assignment)**으로, 리스트의 각 요소를 변수에 순서대로 할당합니다:
x = 'apple' (첫 번째 요소)
y = 'banana' (두 번째 요소)
z = 'orange' (세 번째 요소)
각 변수를 출력하면 할당된 문자열이 출력됩니다
이는 Python의 시퀀스 언패킹 기능으로, 리스트나 튜플의 요소들을 여러 변수에 한 번에 할당할 수 있습니다.

### 10. 다음 프로그램의 결과를 출력하시오 
fruits = [‘apple’, ‘banana’, ‘orange’] 
print(len(fruits)

In [ ]:
출력 결과는:
3
len(fruits)는 리스트 fruits의 요소 개수를 반환하므로, 'apple', 'banana', 'orange' 총 3개의 요소가 있어서 3이 출력됩니다.

### 11. 파이썬에서 함수를 만들기 위해 선언하는 단어는?

In [ ]:
파이썬에서 함수를 만들기 위해 선언하는 단어는 **def**입니다.

사용법:

python
def 함수명(매개변수):
    실행할 코드
    return 반환값  # 선택사항

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg" style="float:left" width="500">