In [232]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:140px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="7" color="red">ch05.함수</font></b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩 불가(같은 이름의 함수는 덮어씀)
- 함수 정의
```
def 함수명([매개변수1, 매개변수2, ...]):
    명령어1
    명령어2
```

# 1절. 함수의 정의 및 사용
## 1.1. 함수 정의

In [1]:
# 함수 정의
def my_message(x, msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(i, msg)

In [3]:
# 함수 호출 == 함수 사용
my_message(3, 'Hello')

0 Hello
1 Hello
2 Hello

In [4]:
# 함수 이름 변경
my_msg = my_message
my_message(2, 'Hello')
my_msg(3, 'Python')

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [5]:
type(my_msg), type(my_message)

(function, function)

In [ ]:
# 파이썬 내장 함수(import 하지 않고 사용할 수 있는 함수)
# 내장 함수명은 일종의 키워드로 간주되므로 식별자로 사용하는 것은 피해야 한다.
# 심볼 테이블로 함수를 불러오는 명령어가 import이다.

In [ ]:
print("Hello")

In [6]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [10]:
my_message = 5
my_msg(2, "Hello")

0 Hello
1 Hello

In [ ]:
# my_message(2, 'Hello') 이제 실행하면 에러남

In [4]:
del messgage # 변수 및 함수 제거하여도
my_message(2, 'Hello')

NameError: name 'messgage' is not defined

In [3]:
# 함수 중복 정의 불가 (오버로딩 불가)
def my_hello():
    print('Hello Python')
    print('Hello World')
def my_hello(cnt):    # cnt번 출력
    for i in range(cnt)
        print('Hello, Python', end='\t')
        print('Hello, World')

SyntaxError: expected ':' (3981259654.py, line 6)

In [6]:
my_hello(2) # 함수의 중복 정의가 이루어지지 않음.

Hello, Python	Hello, World
Hello, Python	Hello, World

In [11]:
my_hello(3)

Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

In [12]:
from ch05 import my_hello # ch05 모듈 안의 my_hello만 메모리 로드

In [13]:
__name__

'__main__'

In [14]:
import ch05

In [15]:
ch05.my_hello(3)

ch05
Hello, Python!	Hello, World
Hello, Python!	Hello, World
Hello, Python!	Hello, World

## 1.2 docstring

In [19]:
def my_function():
    """
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)
    """

#어떤 함수

In [20]:
print(my_function.__doc__)
    ```
    매겨변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10  : 0, 1, 1, 2, 3, 5, 8
    n=100 : 0, 1, 1, 2, 3, 5, 8 13 21 34 55 89
    ```
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역 변수 (반: 전역변수) fibonacci
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()  # 개행

    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(함수 호출시 shift+tab으로 독스트링을 볼 수 있음)

In [27]:
def fibonacci(n):
    a, b = 0, 1 
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()  # 개행

In [28]:
fibonacci(10000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

## 1.3 지역변수(local var)와 전역변수(global var)
- 지역 심볼 테이블, 전역 심볼 테이블 -
- 함수 내에서 변수에 정수를 할당하면 -

In [31]:
global_var = 100
def func1():
    print('함수안 :', global_var)
func1()
print('함수밖:', global_var)

함수안 : 100
함수밖: 100

In [33]:
def func2():
    local_var = 200  # 지역변수(함수내에서 할당)
    print('함수안 :', local_var)
func2()

함수안 : 200

In [ ]:
# print('함수밖에서 지역변수 :', local_var) # 에러

In [45]:
g_var = 100 # 전역변수
def func3():
    g_var = 200
    print('지역변수 g_var :', g_var)
func3()
print('전역변수 g_var :', g_var)

지역변수 g_var : 200
전역변수 g_var : 100

In [46]:
# 렉시컬 특성 : 변수가 어디서 선언되었는지에 따라
# 변수의 범위가 정해짐(지역 vs. 전역)
g_var = 100 # 전역변수
def func3():
    print('지역변수 g_var :', g_var)
    g_var = 200 # 지역변수 (함수 내에서 할당)
func3()
print('전역변수 g_var :', g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [51]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func3():
    global g_var
    print('지역변수 g_var :', g_var)
    g_var = 200 # 전역변수 g_var에 200할당.
func3()
print('전역변수 g_var :', g_var)

지역변수 g_var : 100
전역변수 g_var : 200

## 1.4 값에 의한 호출
- 함수에 인수에 전달되는 변수가 스칼라변수(문자, 숫자, 논리형)일 때

In [52]:
foo = 'a' # 전역변수
id(foo)

1800892737456

In [53]:
def func1(f):    # 매개변수는 지역변수
    print('Before :', f, '의 주소는 ', id(f))
    f = f*3
    print('After :', f, '의 주소는 ', id(f))
func1(foo)


# 파이썬의 id() 함수는 객체를 인자로 받아, 
# 해당 객체의 **고유한 식별값(메모리 주소)**을 반환합니다. 
# 이 값은 객체를 구별하는 데 사용되며, 
# 동일한 객체를 가리키는지를 판별하는 데 활용될 수 있습니다. 
# id()는 객체가 생성될 때 부여되는 일련번호와 같으며, 
# 숫자로서 특별한 의미를 가지는 것은 아닙니다.

Before : a 의 주소는  1800892737456
After : aaa 의 주소는  1801001296560

In [54]:
print('foo = ', foo, '의 주소는', id(foo))

foo =  a 의 주소는 1800892737456

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 경우

In [55]:
L = [1, 2, 3, 4, 5]
id(L)

1800971354880

In [56]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, '의 주소는', id(f))
    f.append(6)
    print('After :', f, '의 주소는', id(f))
func2(L)

Before : [1, 2, 3, 4, 5] 의 주소는 1800971354880
After : [1, 2, 3, 4, 5, 6] 의 주소는 1800971354880

In [57]:
print('L=', L, '의 주소는', id(L))

L= [1, 2, 3, 4, 5, 6] 의 주소는 1800971354880

# 2절 함수의 실행결과를 반환하는 return

In [59]:
def fibonacci_print(n):
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역 변수 (반: 전역변수) fibonacci
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()  # 개행
def fibonacci(n):
    "n미만의 피보나치 수열을 리스트로 return"
    result = [] # 피보나치 수열은 append할 리스트
    a, b = 0, 1 # 함수 내에 선언한 변수 : 지역 변수 (반: 전역변수) fibonacci
    while a < n:
        result.append(a)    #  리스트에 append
        a, b = b, a+b
    return result

In [63]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [62]:
x = fibonacci_print(10)
print(x)
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

In [76]:
num = int(input("숫자를 입력하세요:"))
numbers=[]
for i in range(1, num+1):
    numbers.append(i)
    print(numbers, end='\t')

숫자를 입력하세요:10
[1]	[1, 2]	[1, 2, 3]	[1, 2, 3, 4]	[1, 2, 3, 4, 5]	[1, 2, 3, 4, 5, 6]	[1, 2, 3, 4, 5, 6, 7]	[1, 2, 3, 4, 5, 6, 7, 8]	[1, 2, 3, 4, 5, 6, 7, 8, 9]	[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 여러개 값 return ###

In [80]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return(b, a)
print('a', 'b')

a b

x = 5; y = 10
print('함수 실행 전 x, y =', x, y)
x, y = swap(x, y)
print('함수 실행 후 x, y =', x, y)

# 3절 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [87]:
def make_url(ip, port=80):  # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [96]:
print(make_url("localhost", 8090))
print(make_url("www.naver.com"))
print(make_url(port=9090, ip="localhost"))

http://8090:localhost
http://localhost:www.naver.com
http://localhost:9090

In [92]:
def make_url(port=80, ip='localhost'):  # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [93]:
make_url("localhost")

'http://localhost:localhost'

## 3.2 기본변수를 기본값으로 갖는 매개변수
- 기본변수가 스칼라변수(문자, 숫자, 논리형)일 때
- 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [100]:
i = 80
# 기본변수가 스칼라변수일 때 : 함수가 정의되는 시점으로 기본갑 셋팅
def make_url(ip, port=i):
    return "http://{}:{}".format(ip, port)

In [101]:
i =  90
make_url("loclalhost")

'http://loclalhost:80'

In [105]:
list_ = []
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 함수가 실행되는 시점으로 기본값 셋팅
def func3(a, L=list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [123]:
print(func3(10))

[10]

In [121]:
print("list_ =", list_)

list_ = [10, 10, 10, 10, 10, 10, 10, 10, 20]

In [122]:
print(func3(20))

[20]

In [119]:
# 실행할 때마다 L을 공유하는게 싫으면
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print(func3(10))

[10]

## 3.3 순서 인수
- 순서인수 : 함수에 정의된 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시하는 방식
- 함수 정의시 순서인수와 키워드인수가 같이 올 때는 순서인수가 오고 다음에 키워드인수 순으로 옴

In [132]:
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print(L)

[1, 2, 3, 4, 5, 6]

In [134]:
lst = []
print(func3(10, lst))
print(func3(L=lst, a=20)) # 키워드 인수

[10]
[10, 20]

## 3.4 튜플매개변수를 이용한 가변인수 설정

In [150]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음.
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [151]:
add(3, 5, 2)

10

In [163]:
# args 앞에 * : args가 튜플로 전달받는다
def add(*args):
    # print('args=', args)
    # 전달받은 매개변수들의 합을 return.
    # 매개변수가 없을 경우 0을 return
    sum = 0 
    for num in args:
        sum += num
    return sum

In [164]:
add(1,2,3,4,5)

15

In [176]:
print(add())
print(add(1))
print(add(1, 3))
print(add(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

0
1
4
55

In [177]:
subject = ('Python', 'HTML/CSS', 'JavaScript', 'Oracle/MySQL')
'-'.join(subject)

'Python-HTML/CSS-JavaScript-Oracle/MySQL'

In [187]:
# 튜플 매개변수와 일반 매개변수가 같이 있을 때
def contcat(*subject, sep):
    return(sep. join(subject))

In [188]:
# contact('Python', 'web', 'JavaScript', 'DBMS', '_')

In [181]:
# 해결책1
contcat('Python', 'web', 'JavaScript', 'DBMS', sep='_')

'Python_web_JavaScript_DBMS'

In [194]:
# 해결책2 
def concat(*subject, sep = ' ~ '):
    return sep.join(subject)
print(concat('Python','Web','JS','DBMS', '-'))
print(concat('Python','Web','JS','DBMS', sep='-'))

Python ~ Web ~ JS ~ DBMS ~ -
Python-Web-JS-DBMS

In [ ]:
# 해결책3 : 추천, sep을 순서인수로 앞으로
def concat(sep, *subject):
    return sep.join(subjct)

In [195]:
concat('~','Python','Web','DB','MLDL')

'~ ~ Python ~ Web ~ DB ~ MLDL'

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수 : 여러 개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리
- 데이터 시각화에서 2개의 별표시(**), 즉 딕셔너리 매개 변수를 사용할 때 효과적이다.

In [196]:
make_url(ip="localhost", port=8080)

'http://localhost:8080'

In [210]:
def func5(**args): # 별표시(*)가 한 개면 투플 매개변수, 별표시(**)가 한 개면 딕셔너리 매개변수 
    print('이름:', args.get('name'))
    print('나이:', args.get('age'))
    print('전화:', args.get('tel'))
    print('주소:', args.get('address'))

In [230]:
def func5(**args):
    print(args)
    print(type(args))
    if 'address' not in args:
        args['address'] = '서울시 관악구'
        args.update({'address': '서울시 관악구'})
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [231]:
func5(name='홍길동', 
      age=30,
      tel='010-9999-9999',
      address='서울 관악구')

{'name': '홍길동', 'age': 30, 'tel': '010-9999-9999', 'address': '서울 관악구'}
<class 'dict'>
name : 홍길동
age : 30
tel : 010-9999-9999
address : 서울 관악구

In [225]:
func5(name='홍길동')

{'name': '홍길동'}
<class 'dict'>
name : 홍길동
address : 서울시 관악구

In [226]:
def func5(**args):
    print('args')

In [227]:
func5(name='홍길동', 
      age=30,
      tel='010-9999-9999',
      address='서울 관악구',
      width=300,
      color='red')

args

In [228]:
def func(a, b, c):
    return a+b+c

In [229]:
def func5(**args): # 별표시(*)가 한 개면 투플 매개변수, 별표시(**)가 한 개면 딕셔너리 매개변수 
    print('이름:', args.get('name'))
    print('나이:', args.get('age'))
    print('전화:', args.get('tel'))
    print('주소:', args.get('address'))

## 3.6 함수 정의시 매개변수의 순서
순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)

In [234]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a, b, *c, **d):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('튜플인수 c = ', c)
    print('딕셔너리인수 d = ', d)

In [235]:
func6(10, 20, 1,2,3,4,5,6,7,8,9, name='홍', age=30, address='신림')

순서인수 a =  10
순서인수 b =  20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리인수 d =  {'name': '홍', 'age': 30, 'address': '신림'}

In [237]:
# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)
def func7(a, b, c,*d, e=10, **f):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('순서인수 c = ', c)
    print('튜플인수 d = ', d)
    print('키워드인수(기본값 10) e = ', a)
    print('딕셔너리인수 f = ', f)

In [239]:
func7(10, 20, 30, e=100)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  ()
키워드인수(기본값 10) e =  10
딕셔너리인수 f =  {}

In [238]:
func7(10, 20, 30, 1,2,3,4,5, e=100, shape='rect', width=20, height=30)

순서인수 a =  10
순서인수 b =  20
순서인수 c =  30
튜플인수 d =  (1, 2, 3, 4, 5)
키워드인수(기본값 10) e =  10
딕셔너리인수 f =  {'shape': 'rect', 'width': 20, 'height': 30}

In [ ]:
## 3.7 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [240]:
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [241]:
add(1, 2, 3)

6

In [243]:
numbers = (1, 2, 3)
add(*numbers)

6

In [ ]:
numbers = (1, 2, 3)
add(*numbers)

In [ ]:
### 딕셔너리 인수 언패킹

In [249]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [252]:
func8(shape='rect', width=40, height=30)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [253]:
info = {'shape':'rect', 'width' : 40, 'height':30}
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

# 4절 람다식
- return 한 줄짜리 작은 익명함수
## 4.1 람다식 연습

In [2]:
def add(a, b):
    return a+b
print(add(3, 5))
print(type(add))

8
<class 'function'>

In [3]:
add2 = lambda a, b : a + b # add를 add2 람다식으로 만듬.
print(add2(3, 5))
print(type(add2))

8
<class 'function'>

In [4]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보세요.
def even_odd_chk(num):
    if num%2:
        result = "홀수"
    else:
        result = "짝수"
    return result
even_odd_chk(5), even_odd_chk(-4)

('홀수', '짝수')

In [6]:
def even_odd_chk(num):
#    if num%2:
#        result = "홀수"
#    else:
#        result = "짝수"
    return "홀수" if num%2 else "짝수"
even_odd_chk = lambda num : "홀수" if num%2 else "짝수" 
even_odd_chk(5), even_odd_chk(-4)

# 3. 함수와 람다식의 동일성
# python# 일반 함수
# def even_odd_chk(num):
#    return "홀수" if num%2 else "짝수"

# 람다식으로 동일한 기능
# even_odd_chk = lambda num : "홀수" if num%2 else "짝수"

('홀수', '짝수')

In [8]:
# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어보세요.
def diff(a, b):
    if a>b:
        result = a-b
    else:
        result = b-a
    return result

diff = lambda a, b : a-b if a>b else b-a
diff(5, 1), diff(1, 5)

(4, 4)

In [12]:
# ex3. 매개변수로 잔액을 받아, 잔액이 양수면 잔액을 return, 음수면 'negative'를 return함
ex3 = lambda balance : balance if balance >= 0 else 'negative'
ex3(1000), ex3(-100)

(1000, 'negative')

In [21]:
# ex4. 점수를 입력받아 80점이상은 'A팀', 60점이상은 'B팀', 60점미만은 '재시험',
# 100점 초과, 0점미만은 '유효하지 않음'을 return
# 방법 1: 일반 함수 (if-elif-else)

def levelChk(num):
    if num > 100 or num < 0:
        return '유효하지 않음'
    elif num >= 80:
        return 'A팀'
    elif num >= 60:
        return 'B팀'
    else:
        return '재시험'

ex4 = lambda num :'A팀' if 80<=num<=100 else \
                    'B팀' if 60<=num<=80 else \
                    '재시험' if 0<=num<=60 else \
                    '유효하지 않음'
levelChk(8), ex4(160)

('재시험', '유효하지 않음')

In [25]:
# 점수를 입력받아 학점을 return
score_grade = lambda score : 'A학점' if 90<=score<=100 else \
                             'B학점' if 80<=score<90 else \
                             'C학점' if 70<=score<80 else \
                             'D학점' if 60<=score<70 else \
                             'F학점' if  0<=score<60 else \
                             '유효하지 않는 점수'
score_grade(60), score_grade(120)

('D학점', '유효하지 않는 점수')

In [36]:
# ex5 safe_index함수를 람다식으로 ** 변수에 함수도 넣음
def safe_index(lst, item, start=0):
    return lst.index(idem, start) if item in lst [start:] else -1
ex5 = lambda lst, item, start=0 : lst.index(item, start) if item in lst [start:] else -1
i = 3
lst = [i, 2, 3,]
safe_index(lst, 4), ex5(lst, 3, 1)

(-1, 2)

In [48]:
# 람다식을 list에 들어가 갈 수 있음
add = lambda a, b : a + b
sub = lambda a, b : a - b
mul = lambda a, b : a * b
div = lambda a, b : a / b if b else '두번째 인자가 0이면 못 나눠요'
operations = [add, sub, mul, div] # 사칙연산 함수들

def act_operations(a, b, operations=operations): # a, b의 연산 결과를 return
    result = []
    for op in operations:
        result.append(op(a, b))
    return result
act_operations(20, 5)

[25, 15, 100, 4.0]

In [49]:
act_operations(8, 2, [lambda x, y : x**y, lambda x,y : 10*+y])

[64, 20]

In [50]:
operations.append(lambda x, y : x**y)
len(operations)

5

In [51]:
act_operations(8, 2) # 기본값을 갖는 변수(기본 변수)가 리스트면 기본값은 호출할 시점

[10, 6, 16, 4.0, 64]

## 4.2 함수의 매개변수(인수)에 람다식 사용
- 람다식을 사용하는 곳 : 함수의 매개변수 > return 문
### (1) map 이 함수가 압도적으로 많이 사용됨

In [ ]:
변수명 = 람다식

In [53]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append(item)
    return result

In [54]:
map_template(lambda a:a, [1,2,3])

[1, 2, 3]

In [58]:
list_data = [1,2,3,4,5,6,7,8,9]
def x_2(x):
    return x*2
map_template(x_2, list_data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
list_data = [1,2,3,4,5,6,7,8,9]
# def x_2(x):
#    return x*2
x_2 = lambda x : x*2
map_template(x_2, list_data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
map_template(lambda x:x*2, list_data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
# 리스트 컴퓨리헨션
[ item*2 for item in list_data ]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [62]:
map(lambda x:x*2, list_data)

In [63]:
list(map(lambda x:x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [64]:
for data in map(lambda x:x*2, list_data):
    print(data, end='  ')

2  4  6  8  10  12  14  16  18

In [66]:
# ```
# 예제1. prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']를 [5000,5000,6000,1000]식으로 바꾸시오
# ```
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']

# 쉼표를 제거하고 정수로 변환
cleaned_prices = [int(price.replace(',', '')) for price in prices]

print(cleaned_prices)
# 결과: [5000, 5000, 6000, 1000, 5000, 5000, 6000, 1000]

[5000, 5000, 6000, 1000, 5000, 5000, 6000, 1000]

In [68]:
# 중복 제거 (순서 유지)
unique_prices = list(dict.fromkeys(cleaned_prices))
print(unique_prices)
# 결과: [5000, 6000, 1000]

# 또는 set을 사용 (순서 보장 안됨)
unique_prices_set = list(set(cleaned_prices))
print(sorted(unique_prices_set))
# 결과: [1000, 5000, 6000]

[5000, 6000, 1000]
[1000, 5000, 6000]

In [73]:
prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000']
def toint(value):
    return int(value.replace(',',''))
prices_int - map(lambda value : int(value.replace(',','')), prices)
for price in prices_int:
    print(price, end=' ')

NameError: name 'prices_int' is not defined

```
예제2. members1 = [{'name':'홍길동', 'birth':'2000-01-01’}, {'name':'신길동', 'birth':'1995-12-18'},]를
members2 = [{'name':'홍길동', 'year':2000, 'month':1,'day':1}, {'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환
```

In [78]:
members1 = [{'name':'홍길동', 'birth':'2000-01-01'}, 
            {'name':'신길동', 'birth':'1995-12-18'},]

In [83]:
# '2000-01-01' => {'year':2000, 'month':1, 'day':1}
def split_data(date):
    split_date = date.split('-')
    return {
        'year' : int(split_date[0]),
        'month' : int(split_date[1]),
        'day' : int(split_date[2]),
    }
split_data('2025-01-01'), split_data('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [84]:
# '2000-01-01' => {'year':2000, 'month':1, 'day':1}
# 딕셔너리 리스트에서 생년월일 문자열을 연도, 월, 일로 분리하는 방법]
def split_data(date):
    return {
        'year' : int(date.split('-')[0]),
        'month' : int(date.split('-')[1]),
        'day' : int(date.split('-')[2]),
    }
split_data('2025-01-01'), split_data('1995-12-12')

({'year': 2025, 'month': 1, 'day': 1}, {'year': 1995, 'month': 12, 'day': 12})

In [86]:
# {'name':'홍길동', 'birth':'2000-01-01'}=>{'name':'홍길동', 'year':2000, 'month':1, 'day':1}
def split_data(date):
    return {
        'year' : int(date.split('-')[0]),
        'month' : int(date.split('-')[1]),
        'day' : int(date.split('-')[2]),
    }

In [87]:
split_date_lambda = lambda date: {
    'year': int(date.split('-')[0]),
    'month': int(date.split('-')[1]), 
    'day': int(date.split('-')[2])
}

In [90]:
# {'name':'홍길동', 'birth':'2000-01-01'}=>{'name':'홍길동', 'year':2000, 'month':1, 'day':1}
def member_preprocessing(memeber):
    return {
        'name' : memeber.get('name', '이름없음'), 
        'year' : int(memeber.get('birth').split('-')[0]),
        'month' : int(memeber.get('birth').split('-')[1]),
        'day' : int(memeber.get('birth').split('-')[2]),
        }
member_preprocessing({'name':'홍길동', 'birth':'2000-01-01'})

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [96]:
members2 = list(map(lambda memeber : {
                                'name' : memeber.get('name', '이름없음'), 
                                'year' : int(memeber.get('birth').split('-')[0]),
                                'month' : int(memeber.get('birth').split('-')[1]),
                                'day' : int(memeber.get('birth').split('-')[2]),
                                }, members1
                   )
               )
members2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [ ]:
'''
예제3. members2를 members1로 전환
'''

In [101]:
# {'year':2000, 'month':1, 'day':1} => 2025-0101
def join_date(data):
    return "{}-{:02}-{:02}".format(data.get('year'), data.get('month'), data.get('day'))
join_date({'year':2000, 'month':9, 'day':9})

'2000-09-09'

In [102]:
# {'year':2000, 'month':1, 'day':1} => 2025-0101
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)
join_date({'year':2000, 'month':9, 'day':9})

'2000-09-09'

In [103]:
# {'year':2000, 'month':1, 'day':1} => {'birth':2025-01-01'}
def join_date(data):
    return {"birth" : "{year}-{month:02}-{day:02}".format(**data)}
join_date({'year':2000, 'month':9, 'day':9})

{'birth': '2000-09-09'}

In [105]:
# members2를 members1로 전환
# {'name' : 'hong', 'year':2000, 'month':1, 'day':1} => {'name':'hong',birth':2025-01-01'}
def members_preprocessing(member):
    return {
        'name': member.get('name'),
        'birht': "{year}-{month:02}-{day:02}".format(**member)
    }
members_preprocessing({'name':'hong', 'year':2000, 'month':1, 'day':1})

{'name': 'hong', 'birht': '2000-01-01'}

In [109]:
list(map(lambda member : {
    'name': member.get('name'),
    'birth':"{year}-{month:02}-{day:02}".format(**member)
    }, members2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

## (2) filter

In [123]:
def filter_template(func, L=[]): # 특정한 조건인지 아닌지 살펴보고 함수
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [124]:
list_data = [1,2,3,4,5,6,7,8,9]
def odd_chk(value):
    if value%2:
        return True
    else:
        return False
filter_template()

TypeError: filter_template() missing 1 required positional argument: 'func'

In [125]:
# 람다식
list_data = [1,2,3,4,5,6,7,8,9]
def odd_chk(value):
    return value%2
filter_template(lambda value : value%2!=0, list_data)

[1, 3, 5, 7, 9]

In [126]:
# 리스트 컴플리핸션
[value for value in list_data if value%2]

[1, 3, 5, 7, 9]

In [131]:
# 리스트 함수
list(filter(lambda value : value%2, list_data))

[1, 3, 5, 7, 9]

In [137]:
# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter/리스트 컴프리헨션)
L = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]
list(filter(lambda x : x%1==0), L)

TypeError: filter expected 2 arguments, got 1

In [135]:
[item for item in L if item%1==0]

[1, 3.0, 100, -2.0]

## (3) sort

In [143]:
p = [10, 3, 6, 1]
p.sort(reverse = True)
p

[10, 6, 3, 1]

In [139]:
# 무조건 0번째 item을 기준으로 오름차순 정렬
pairs = [(2, 'two'), (1, 'one'), (3, 'three'), (4, 'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [144]:
# 1번째 item 기준으로 내림차순 정렬
pairs.sort(key=lambda data:data[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [149]:
# 합이 큰 순으로 정렬
number_2d = [[9,9],[1,100],[10,1]]
number_2d.sort()
number_2d
print(number_2d)
# 합이 큰순으로 정렬
number_2d.sort()

[[1, 100], [9, 9], [10, 1]]

In [151]:
# 합이 큰 순으로 정렬
number_2d = [[9,9],[1,100],[10,1]]
number_2d.sort()
number_2d
print(number_2d)

# 합이 큰순으로 정렬
number_2d.sort(key=lambda items : sum(items), reverse=True)
print(number_2d)

[[1, 100], [9, 9], [10, 1]]
[[1, 100], [9, 9], [10, 1]]

In [161]:
students=[
        {'name':'홍', 'score':99},
        {'name':'김', 'score':99},
        {'name':'박', 'score':99},
        {'score':100},]

In [162]:
name_select = lambda data : data.get('name', '')
name_select({'name':'홍', 'score':99})

'홍'

In [163]:
# student를 name 순으로 정렬(ㄱㄴㄷ순)
students.sort(key=lambda data : data.get('name', '힣'))
students

[{'name': '김', 'score': 99},
 {'name': '박', 'score': 99},
 {'name': '홍', 'score': 99},
 {'score': 100}]

In [167]:
books = \
   [{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
    {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
    {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
    {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
    {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
    {'no':6, 'title':'가격이없음', 'writer':'이길동'},]

In [168]:
books

[{'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [169]:
# no기준으로 sort
books.sort(key = lambda book : book['no'])
books

[{'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [170]:
# title기준으로 sort
books.sort(key = lambda book : book['title'])
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [184]:
# 30200=> 30200, '12,000'=>12000, '5000'=>5000, 'ㅁ'=>0, None=>0
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    else:
        return 0
print(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))

12000 0 0 0

In [187]:
# 30200=> 30200, '12,000'=>12000, '5000'=>5000, 'ㅁ'=>0, None=>0
def parse_int(price):
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price, int):
        return price
    else:
        return 0
    
parse_int = lambda price : \
            int(price.replace(',','')) \
                    if isinstance(price, str) and price.replace(',','').isdigit() else \
            price if isinstance(price, int) else \
            0

print(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))

12000 30200 0 0

In [188]:
# {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': '12,000'} => 12000
parse_int = lambda price : \
            int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                                book.get('price').replace(',','').isdigit() else \
            price if isinstance(book.get('price'), int) else \
            0
print(parse_int('12,000'), parse_int(30200), parse_int('ㅁ'), parse_int(None))

NameError: name 'book' is not defined

In [189]:
copyBooks = books.copy()
copyBooks.sort(key=lambda book : \
              int(book.get('price').replace(',',''))\
                   if isinstance(book.get('price'), str) and \
                               book.get('price').replace(',', '').isdigit() else \
               book.get('price') if isinstance(book.get('price'), int) else \
               0,
               reverse=True)
copyBooks

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

In [ ]:
# 5절 파이썬 내장함수
- import 하지ㅏ 않고 바로 사용 가능한 함수
- 키워드(if, while, ...)처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다.

In [1]:
a = 10
globals()  #전역변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'a = 10\nglobals()  #전역변수 리스트'],
 '_oh': {},
 '_dh': [WindowsPath('C:/AI_X_Practice_0911/Source/01_python')],
 'In': ['', 'a = 10\nglobals()  #전역변수 리스트'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x0000015B7CCAFF40>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x15b7ccbf850>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x15b7ccbf850>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': '',
 '__': '',
 '___': '',
 '_i': '',
 '_ii': '',
 '_iii': '',
 '_i1': 'a = 10\nglobals()  #전역변수 리스트',
 'a': 10}

In [2]:
all([True, True, True, False]) # 모든 요소가 다 True인지 여부

False

# 6절 연습문제

In [ ]:
1. 함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
• def get_max_min(data_list):
• get_max_min= lambda ~

In [ ]:
def get_max_min(data_list):
    if not data_list:  # 리스트가 비어있으면 None 반환
        return None
    return max(data_list), min(data_list)

# 사용 예시
numbers = [3, 7, 1, 9, 4]
result = get_max_min(numbers)
print(result)  # 출력: (9, 1)

In [ ]:
get_max_min = lambda data_list: (max(data_list), min(data_list)) if data_list else None

# 사용 예시
numbers = [3, 7, 1, 9, 4]
result = get_max_min(numbers)
print(result)  # 출력: (9, 1)

In [ ]:
2. 체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요.
• getBMI(kg, m):
• BMI지수 = 체중(kg) / 신장(m)의 제곱
• BMI<18.5 : 마른체형
• 18.5<=BMI<25 : 표준
• 25<=BMI<30 : 비만
• BMI >=30 : 고도비만

In [ ]:
3. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
• 리턴값은 면적과 둘레를 return하도록 구현하세요
• math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0
• def get_triangle(width, height):

In [3]:
# 실습형 3: 직각삼각형 w, h로 area, perimeter(넓이, 둘레)
import math
def get_triangle(w, h):
    are = w * h * 0.5
    # math.sqrt(w*w + h*h)
    # return area, perimeter
    return {'넓이': area, '둘레': perimeter}
get_triangle(3, 4)

NameError: name 'area' is not defined

In [ ]:
4. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).
• def mysum(fRom, end):

In [ ]:
5. 함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
• 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
• def get_abbrs(lst):

In [ ]:
6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오.
def f(x, y)
    return x ** y

In [ ]:
7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 
   람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오
    
ex = [1,2,3,4,5]
______________________________
[1, 4, 9, 16, 25]
ex = ex = [1,2,3,4,5]
______________________________
[1, 4, 9, 16, 25]

In [ ]:
8. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오

In [ ]:
9. 다음 코드의 실행 결과는?

In [ ]:
0. n개의 벡터(리스트나 튜플, 셋등)들의 크기가 같은지 여부를 reutrn하는
vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

In [ ]:
11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.(단 입력되는 벡터의 크기는 일정하지 않음)

In [ ]:
연습문제 개관식